@model IEnumerable<HaloCareCore.Models.Management.UserMemberHistory>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Case manager";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>
<javascript>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script>
</javascript>

<!--pageHeader-->
<nav id="global-nav" class="nav">
    <div class="pull-left title">
        <h1 class="site-title_patientProfile">
            <span><i class="fas fa-medkit"></i>&emsp; Case managers</span>
        </h1>
    </div>
    <div class="pull-right title">
        <h1 class="site-title_userID pull-right">
            <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
        </h1>
        <h1 class="site-title_userID pull-right">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
            {
                <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
            }
        </h1>
        <h1 class="site-waffleIcon pull-right">
            <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
        </h1>
    </div>
</nav>

<div class="dashboardContainer zero-padding">
    <div class="patientDashboard_View">
        <!--breadCrumbs-->
        <ul class="breadcrumbs_patientDashboard">
            <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
            <li><a href="@Url.Action("Index", "Administration", new {})">Settings</a></li>
            <li><a href="@Url.Action("patientDashboard", "Member", new {DependentID = Context.Request.Query["DependentID"], pro= Context.Request.Query["pro"] })">Patient</a></li>
            <li><a href="#">@ViewBag.Title</a></li>
        </ul>
        <!--Left navSlider -->
        @Html.Partial("_navSlider", new { DependentID = Context.Request.Query["DependentID"] })
        <!--navCollection-->
        <div class="navCollection_patientDashboard">
            @Html.Partial("_navCollection")
        </div>
        <!--profileInformation-->
        <div class="profileBar">
            @Html.RenderAction("_profileBar_edit", "Member", new { DependentID = Context.Request.Query["DependentID"], pro = Context.Request.Query["pro"] })
        </div>
    </div>

    <div class="profilebar-spacer"></div>

    <div class="patientDashboard_container">

        <div class="row">
            <!--------------------------------------------------------------------------- new/search -------------------------------------------------------------------------->
            <div class="col-md-12 row">
                <div class="col-md-6">
                    <h4 class="subHeading">
                        Case manager overview
                        <a class="create-new" href="@Url.Action("AddCaseManagerToProfile", "CaseManager", new { DependentID = Context.Request.Query["DependentID"], pro = Context.Request.Query["pro"] }, null)" style="font-size: 14px">Create new <span><i class="fa fa-plus-circle" style="font-size: 12px"></i></span></a>

                    </h4>
                </div>
                <!--------------------------------------------------------------------------- jq-search -------------------------------------------------------------------------->
                <div class="col-md-6">
                    <div class="input-wrapper-new-search">
                        <input type="text" class="form-control-new-search" id="search" onkeyup="myFunction()" placeholder="Search..." />
                    </div>
                </div>
            </div>

            <table class="table riskRatingTable sortable" id="tableCM">
                <thead>
                    <tr>
                        <th style="width: 10%">@Html.DisplayNameFor(model => model.EffectiveDate) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                        <th style="width: 50%">@Html.DisplayNameFor(model => model.UserFullName) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                        <th style="width: 10%">@Html.DisplayNameFor(model => model.Program) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                        <th style="text-align: center!important; width: 10%">@Html.DisplayNameFor(model => model.Active)</th>
                        <th style="text-align: center!important; width: 10%">Action</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody id="caseManager_Body">
                        <tr>
                            <td data-dateformat="DD-MM-YYYY" class="text-left"><span class="@(item.Active == true ? "" : "active-false")">@(item.EffectiveDate == null ? "" : item.EffectiveDate.Value.ToString("dd-MM-yyyy"))</span></td>
                            <td class="row-information"><span class="@(item.Active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.UserFullName)</span></td>
                            <td class="row-information"><span class="@(item.Active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.Program)</span></td>
                            <td class="row-information text-center"><span class="@(item.Active == true ? "chk-yes fas fa-circle" : "chk-no fas fa-circle")"></span></td>

                            <td class="text-center">
                                <input type="submit" class="link-button" value="View" onclick="location.href='@Url.Action("DetailsOfCaseManagerOnProfile", "CaseManager", new { id = item.Id, pro = Context.Request.Query["pro"] })'" /> /
                                <input type="submit" class="link-button" value="Edit" onclick="location.href='@Url.Action("EditCaseManagerOnProfile", "CaseManager", new { id = item.Id, pro = Context.Request.Query["pro"] })'" />
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>

        <div class="fixed-btn">
            <input type="text" value="Back" class="btn reset-button" onclick="location.href='@Url.Action("patientDashboard", "Member", new { DependentID = Context.Request.Query["DependentID"], pro = Context.Request.Query["pro"] })'" />
        </div>
    </div>
</div>

<script src="js/jquery.tablesorter.min.js"></script>

@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <script>
        var $rows = $('#caseManager_Body tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

    </script>


}
