@model IEnumerable<HaloCareCore.Models.Management.CaseManagers>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>
<javascript>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script>
</javascript>

<div class="fullScreen_container">

    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-title_patientProfile">
                <span><i class="fas fa-medkit"></i>&emsp; Case managers</span>
            </h1>
        </div>
        <div class="pull-right title">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
            <h1 class="site-title_userID pull-right">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
                {
                    <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
                }
            </h1>
            <h1 class="site-waffleIcon pull-right">
                <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
            </h1>
        </div>
    </nav>
    <!--breadCrumbs-->
    <ul class="breadcrumbs_fullScreens">
        <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
        <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
        <li><a href="@Url.Action("Index", "Administration", new {})">Settings</a></li>
        <li><a href="#">Case managers</a></li>
    </ul>
    <!--navCollection-->
    <div class="navCollection_fullScreens">
        @Html.Partial("_navCollection")
    </div>
    <div style="margin-bottom: 2%"></div>

    <div class="row">
        <!--------------------------------------------------------------------------- new/search -------------------------------------------------------------------------->
        <div class="col-md-12 row">
            <div class="col-md-6">
                <h4 class="subHeading">
                    Case manager overview
                    <a class="create-new" href="@Url.Action("Create", "CaseManager", new { })" style="font-size: 14px">Create new <span><i class="fa fa-plus-circle" style="font-size: 12px"></i></span></a>

                </h4>
            </div>
            <!--------------------------------------------------------------------------- jq-search -------------------------------------------------------------------------->
            <div class="col-md-6">
                <div class="input-wrapper-new-search">
                    <input type="text" class="form-control-new-search" id="search" onkeyup="myFunction()" placeholder="Search..." />
                </div>
            </div>
        </div>

        <table class="table riskRatingTable sortable" id="tableCM">
            <thead>
                <tr>
                    <th style="width: 15%">@Html.DisplayName("Username") <i class="fa fa-fw fa-sort sortArrow"></i></th>
                    <th style="width: 15%">@Html.DisplayNameFor(model => model.cmFullName) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                    <th style="width: 8%">@Html.DisplayNameFor(model => model.workNo) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                    <th style="width: 8%; text-align: center!important">@Html.DisplayNameFor(model => model.extension) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                    <th style="width: 15%">@Html.DisplayNameFor(model => model.email) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                    <th style="text-align: center!important; width: 7%">@Html.DisplayNameFor(model => model.Active)</th>
                    <th style="text-align: center!important; width: 10%">Action</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody id="caseManager_Body">
                    <tr ondblclick="location.href='@Url.Action("Edit", "CaseManager", new { id = item.caseManagerNo }, null)'">
                        <td><span class="@(item.Active == true ? "" : "active-false")"><span class="userAvatar" style="color: white!important; font-size: 11px">@Html.DisplayFor(modelItem => item.cmInitial)</span> @Html.DisplayFor(modelItem => item.caseManagerName)</span></td>
                        <td class="row-information"><span class="@(item.Active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.cmFullName)</span></td>
                        <td class="row-information"><span class="@(item.Active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.workNo)</span></td>
                        <td class="row-information text-center"><span class="@(item.Active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.extension)</span></td>
                        <td class="row-information"><span class="@(item.Active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.email)</span></td>
                        <td class="row-information text-center"><span class="@(item.Active == true ? "chk-yes fas fa-circle" : "chk-no fas fa-circle")"></span></td>

                        <td class="statusCode linkNav" style="text-align: center!important">@Html.ActionLink("Edit", "Edit", new { id = item.caseManagerNo })</td>
                    </tr>
                </tbody>
            }

        </table>
    </div>

    <div class="fixedBack" style="margin-left: 46%">
        <input value="Back" class="btn buttonRound_formBack " onclick="MainbackBtn();" style="width: 15%" />
    </div>
</div>

<script src="js/jquery.tablesorter.min.js"></script>

@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <script>
        var $rows = $('#caseManager_Body tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

         function MainbackBtn() {
            window.location.href = '@Url.Action("Index", "Administration")';
        }
    </script>


}
