@model HaloCareCore.Models.UserLoginModel
@{
    ViewBag.Title = "Forgotten Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}
<comment>
    <!--
        18 February 2020 -- HCare-981(Refine password reset function)
        The forgotten password link was added to an authorized method which means that you needed to be logged in and authorized to access this link. I have removed that attribute from the link which means you can now access it regardless.
        I've also tested the different browsers on the Reset Password redirect which opens correctly on each correctly. 
    -->
</comment>
<style>
    .indexnav {
        margin-top: 100px;
    }

    body {
        background-color: #f9f9fc !important;
    }

    .homePanel {
        background-image: url('../../Content/Images/Backgrounds/homePage/homePage_one.png');
        background-size: 120%;
    }

    ::-webkit-input-placeholder { /* Chrome */
        color: #808080;
        transition: opacity 250ms ease-in-out;
        text-align: center
    }

    :focus::-webkit-input-placeholder {
        opacity: 0.5;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        background-color: transparent !important;
        text-align: center;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

<div class="fullScreen">
    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-login_userProfile">
                <span><i class="fas fa-lock"></i>&emsp; HaloCare (PTY) LTD</span>
            </h1>
        </div>
        <div class="pull-right title" style="margin-top: 0.5%!important">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
        </div>
    </nav>
    <div class="homePanel" style="margin-top: -4.5%; margin-left: 0%">
        <div class="loginBlock">

            <div class="container_Home">
                <div class="lockIcon row">

                    <div class="col-md-12" style="margin-top: 5%; margin-bottom: 1%">
                        <div class="col-md-5"></div>

                        <!--login-->
                        <div class="col-md-2" style="z-index: 100">
                            <div>
                                <i class="material-icons" style="font-size: 68px!important; padding-bottom: 10px!important; margin-top: -7%!important">lock</i>
                            </div>

                        </div>

                        <div class="col-md-5"></div>

                    </div>
                    <div class="col-md-12">
                        <div class="loginScreen_prompt">
                            <h3>Forgotten your password?</h3>
                            <p>Please enter your username or email address</p>
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top: 4%">

                        @using (Html.BeginForm(FormMethod.Post))
                        {
                            @Html.Hidden("userID", (object)ViewBag.userID)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-10" style="margin-left: -5%">
                                        @Html.TextBoxFor(m => m.Username, "", new { @class = "loginBox", @placeholder = "Username / Email address", @style = "text-align: Center" })
                                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="form-group" style="margin-left: 18%">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn newEnquiry" style="width: 40%; position: absolute; z-index: 100; margin-top: 5%;" />
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
        <footer style="font-family: 'Century Gothic'; font-size: 10px;position: fixed; bottom: 15px; left: 20px">
            A subsidiary of Mediscor PBM (PTY) LTD
        </footer>
    </div>

</div>
<!---->

@Html.Raw(TempData["msg"])

@section Scripts {
    <script src="~/bundles/jqueryval"></script>

    <script>
        $(function () {
            $(".footer").remove();
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    @if (ViewBag.Message != null)
    {

        <script type="text/javascript">

        window.onload = function () {
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.options.timeOut = 6000;

            toastr.info("@ViewBag.Message");
        }
        </script>
    }

}
