@model HaloCareCore.Models.UserViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<style>
    .indexnav {
        margin-top: 100px;
    }

    body {
        background-color: #f9f9fc !important;
    }

    .homePanel {
        background-image: url('../../Content/Images/Backgrounds/homePage/homePage_one.png');
        background-size: 120%;
    }

    ::-webkit-input-placeholder { /* Chrome */
        color: #808080;
        transition: opacity 250ms ease-in-out;
        text-align: center
    }

    :focus::-webkit-input-placeholder {
        opacity: 0.5;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        background-color: transparent !important;
        text-align: center;
    }

    .passwordReset input, select, textarea {
        display: block;
        width: 120% !important;
        height: 20% !important;
        padding: 6px 6px !important;
        line-height: 1.428571429;
        color: #003366;
        vertical-align: middle;
        border: 1px solid #ede9e9 !important;
        border-radius: 2px;
        margin-left: 2%;
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        max-width: 480px !important;
        outline: none !important;
        font-family: 'Eras ITC';
        font-size: 12px;
        font-weight: 100;
        margin-top: 1%
    }
</style>

<div class="fullScreen">
    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-login_userProfile">
                <span><i class="fas fa-lock"></i>&emsp; Forgotten password</span>
            </h1>
        </div>
        <div class="pull-right title" style="margin-top: 0.5%!important">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
        </div>
    </nav>

    <div class="homePanel" style="margin-top: -4.5%; margin-left: 0%">
        <div class="resetBlock">

            <div class="">
                <div class="lockIcon row">

                    <div class="col-md-12" style="margin-top: 2%; margin-bottom: 1%">
                        <div class="col-md-5"></div>

                        <!--login-->
                        <div class="col-md-2" style="z-index: 100">
                            <div>
                                <i class="material-icons" style="font-size: 68px!important; padding-bottom: 10px!important; margin-top: -7%!important">lock</i>
                            </div>

                        </div>

                        <div class="col-md-5"></div>

                    </div>
                    <div class="col-md-12">
                        <div class="loginScreen_prompt">
                            <h3>Password reset</h3>
                            <p>Please enter your username and password</p>
                        </div>
                    </div>
                    <di class="col-md-12">


                        @using (Html.BeginForm("ResetPassword", "Account"))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.forgottenPassword.userID)
                                @Html.HiddenFor(model => model.forgottenPassword.key)
                                @Html.HiddenFor(model => model.forgottenPassword.ForgottenPasswordID)
                                @Html.HiddenFor(model => model.user.userID)
                                <br />
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <span class="resetPass">Username</span>
                                        @Html.Editor("username", new { htmlAttributes = new { @class = "loginBox" } })
                                        @Html.ValidationMessageFor(model => model.user.username, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10">
                                        <span class="resetPass">Password</span>
                                        @Html.PasswordFor(model => model.user.password, new { htmlAttributes = new { @class = "loginBox" } })
                                        @Html.ValidationMessageFor(model => model.user.password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10">
                                        <span class="resetPass">Confirm password</span>
                                        @Html.Password("confirmPassword")
                                        @Html.ValidationMessageFor(model => model.user.password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />

                            </div>
                            <div class="form-group">
                                <div class="actionButton" style="margin-left: 35%">
                                    <input type="submit" value="Submit" class="btn newEnquiry" style="width: 25%!important" />
                                </div>

                            </div>
                        }

                </div>
            </div>
        </div>
    </div>

</div>

@Html.Raw(TempData["msg"])


@section Scripts {
    <script src="~/bundles/jqueryval"></script>

    <script>

        $(function () {
            $('.go_back').click(function (e) {
                e.preventDefault();
                history.go(-1);
            });
        });

    </script>
}