@model List<HaloCareCore.Models.ViewModels.UserProgramViewModal>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "UserProgramEdit";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<style>
    body {
        background-color: #f9f9fc !important;
    }

    .select2-container--default .select2-selection--single {
        width: 480px !important
    }

        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            color: white !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            margin-top: -5px !important;
        }

    .text-divider {
        margin: 1em 0;
        line-height: 0;
        text-align: center;
    }

        .text-divider span {
            background-color: rgba(254, 254, 254, 1);
            padding-left: 2em;
            padding-right: 2em;
            margin-left: -0.8%
        }

        .text-divider:before {
            content: " ";
            display: block;
            border-top: 1px solid rgba(204, 204, 204, 0.50);
            border-bottom: 1px solid transparent;
            width: 94%;
            margin-left: 2.5%;
        }
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="fullScreen_container">

    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-title_patientProfile">
                <span><i class="fas fa-layer-group"></i>&emsp; Accounts</span>
            </h1>
        </div>
        <div class="pull-right title">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
            <h1 class="site-title_userID pull-right">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
                {
                    <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
                }
            </h1>
            <h1 class="site-waffleIcon pull-right">
                <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
            </h1>
        </div>
    </nav>

    <!--breadCrumbs-->
    <ul class="breadcrumbs_fullScreens">
        <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
        <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
        <li><a class="go_back">User</a></li>
        <li><a href="#">Program Edit</a></li>
    </ul>

    <!--navCollection-->
    <div class="navCollection_fullScreens">
        @Html.Partial("_navCollection")
    </div>
    <br /><br />
    @using (Html.BeginForm("UserProgramEdit", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table class="table riskRatingTable sortable" id="aTable">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].programName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].hasAccess)
                </th>
            </tr>

            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    @Html.HiddenFor(model => model[i].userId)
                    @Html.HiddenFor(model => model[i].programId)
                    @Html.HiddenFor(model => model[i].medicalAidId)
                    <td>
                        @Html.DisplayFor(model => model[i].programName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model[i].hasAccess)
                    </td>
                </tr>
            }

        </table>

        <div class="form-group">
            <div style="text-align: center!important">
                <input id="submit" type="submit" value="Save" class="btn create-button-large" style="width: 15%!important" /><br />
                <input id="back" type="button" class="btn reset-button" value="Back" onclick="location.href='@Url.Action("EditUser", "Account",  new { id = Model[0].userId})'" />

            </div>
        </div>
    }
</div>

@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>
}

