@model IEnumerable<HaloCareCore.Models.Patient.Dependant>

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<div class="topBar_reports">
    <h2>Recent Enrolments</h2>
    <img src="~/Content/Images/memberProfile/topBar Icons/Enrolment.png" style="width: 2.5%; margin-top: 0.1%" />
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row contentBlock_pathology">
    <div class="indexSearch" style="margin-top:-4%!important">
        <label for="tableSearch" class="control-label"></label> <input type="text" class="form-control-search" id="search" onkeyup="myFunction()" placeholder="Search..." style="margin-top: 3.4%; margin-left: 88%; position: absolute" />
        <div class="searchIcon">
            <img src="~/Content/Images/memberProfile/Search_gray.png" style="width: 0.8%!important; margin-left: 96.5%; margin-top: 4%; position: absolute" />
        </div>
    </div>

    <h4 style="color: #003366; margin-top: -2%">Recent <span style="color: #0081b3">Enrolments</span></h4>


    <hr class="fancyruler">

    <table class="table" id="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dependentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.initials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.demographic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isPrinciple)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dependentCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.initials)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.demographic)
                </td>
                <td class="scriptCheck">

                    @if (item.isPrinciple)
                    {
                        <img src="~/Content/Images/Navigation/5. Reports/reportCheck.png" />
                    }
                    else
                    {
                        <img src="~/Content/Images/Navigation/5. Reports/reportCheck_x.png" />
                    }

                </td>
                <td>
                    @Html.RenderActionLink("Details", "ViewMember", "Member", new { DependentID = item.DependantID }, null)
                </td>
            </tr>
        }

    </table>
</div>

<br />
<br />
<br />

<div class="backButton_image">
    <span id="surround" class="go_back">
        <span id="initial"><img src="~/Content/Images/memberProfile/Page Icons/back_gray.png" /></span>
        <span id="onhover"><img src="~/Content/Images/memberProfile/Page Icons/back_blue.png" /></span>
    </span>
</div>

<!-- Search -->
@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <script>

        var $rows = $('#table tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });


    </script>
}


