@model HaloCareCore.Models.searchResultVM
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<comment>
    <!--
        26 February 2019 -- HCare-643 (Add fields to Search results report)
        Added Birthday, MemberStatus, modifiedBy and modifiedDate to the Excel export function.
        Margo noticed that the dependant code is not pulling with the leading zero so I adjusted the export to excel method by adding a different one using Excel Package. This was then edited to format the date columns as well as ensure
        that the export includes the leading zeros in the dependant code as well as the membership numbers. I also tested that when you filter the advanced search, that the correct information is pulled on the export. All is working correctly.
        ==>
        26 February 2019 -- HCare-651(Advanced search - Add end date for Managment status)
        Added the end date for the Management status to the excel export by adding the endDate to the View Model and then pulling it from the query in the MemberRepository.cs
        This is for Sunette to see if there are NULL entries for Deceased, Resigned and Deactivated patients as per a discussion held.
        ==>
        17 April 2019 -- HCare-700(Advance Search - Excel export (Auth /ID))
        Adjusted the controller to show ID/Auth(Plugin had deleted the column due to the deleting of the Dependant ID) and also place column third in table. Also adjusted the name of the column as per the request.
        ==>
        29 April 2019 -- HCare-702(Advance Search - Excel export to include Risk rating status)
        Added the Risk Rating and Priority to the excel export as per the requirement
        ==>

        -->
</comment>
<style>
    body {
        background-color: #f9f9fc !important;
    }

    table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
        text-align: center !important;
    }
</style>

<!--dateSort_JQ-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script>

<div class="fullScreen_container zero-padding">
    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-title_patientProfile">
                <span><i class="fas fa-search"></i>&emsp; Search</span>
            </h1>
        </div>
        <div class="pull-right title">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
            <h1 class="site-title_userID pull-right">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
                {
                    <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
                }
            </h1>
            <h1 class="site-waffleIcon pull-right">
                <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
            </h1>
        </div>
    </nav>

    <!--breadCrumbs-->
    <ul class="breadcrumbs_fullScreens">
        <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
        <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
        <li><a href="#">Search</a></li>
    </ul>

    <!--navCollection-->
    <div class="navCollection_fullScreens">
        @Html.Partial("_navCollection")
    </div>

    <div style="margin-bottom: 2.2%"></div>

    <h4 class="tableHeading" style="margin-bottom: 0%">Search results <span style="color: #ccc; font-size: 12px;">(@ViewBag.Total results)</span></h4>

    <!--jQ_Search-->
    <div class="row tableSearch_advancedSearch">
        <div class="col-md-6 pull-right">
            <ul class="input-group" id="adv-search">

                <ul class="nav navbar-nav navbar-right">
                    <li class="focus">
                        <input type="text" class="form-control-patientSearch" id="search" onkeyup="myFunction()" placeholder="Search..." />
                    </li>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-search" style="height: 29px"><span class="glyphicon glyphicon-search" aria-hidden="true" title="Search"></span></button>
                    </div>
                </ul>
            </ul>
        </div>
    </div>

    @*<div class="form-group advancedSearchExcel" id="btnExport">
            <input type="image" src="~/Content/Images/memberProfile/patientProfile/excel.png" title="Export" alt="Submit" style="width: 100%">
        </div>*@

    <!--excelExport-->
    @using (Html.BeginForm("ExportAdvancedSearchNew", "PatientManagement", FormMethod.Post))  //HCare-643
    {
        @Html.HiddenFor(x => x.advancedSearchView.medAidId)
        @Html.HiddenFor(x => x.advancedSearchView.statusCode)
        @Html.HiddenFor(x => x.advancedSearchView.programCode)
        @Html.HiddenFor(x => x.advancedSearchView.caseManager)
        @Html.HiddenFor(x => x.advancedSearchView.sex)
        @Html.HiddenFor(x => x.advancedSearchView.membershipNumber)
        @Html.HiddenFor(x => x.advancedSearchView.dateFrom)
        @Html.HiddenFor(x => x.advancedSearchView.dateTo)
        @Html.HiddenFor(x => x.advancedSearchView.memberName)
        @Html.HiddenFor(x => x.advancedSearchView.memberSurname)
        @Html.HiddenFor(x => x.advancedSearchView.cell)
        @Html.HiddenFor(x => x.advancedSearchView.idNumber)
        @Html.HiddenFor(x => x.advancedSearchView.telNo)
        @Html.HiddenFor(x => x.advancedSearchView.doctorName)
        @Html.HiddenFor(x => x.advancedSearchView.doctorSurname)
        @Html.HiddenFor(x => x.advancedSearchView.practiceNo)
        @Html.HiddenFor(x => x.advancedSearchResultModel.birthDate)
        @Html.HiddenFor(x => x.advancedSearchResultModel.statusModifiedBy)
        @Html.HiddenFor(x => x.advancedSearchResultModel.statusModifiedDate)
        @Html.HiddenFor(x => x.advancedSearchResultModel.StatusEndDate)
        @Html.HiddenFor(x => x.advancedSearchView.riskRating)

        <div class="form-group advancedSearchExcel">
            <input type="image" src="~/Content/Images/memberProfile/patientProfile/excel.png" title="Export" alt="Submit" style="width: 100%">
        </div>
    }



    <table class="table patient_Table sortable" id="searchTable">
        <thead>
            <tr>
                <th style="width: 7%!important">
                    @Html.DisplayName("Created") <i class="fa fa-fw fa-sort"></i>
                </th>
                <th onclick="searchTable(0)" style="width: 7%!important">
                    @Html.DisplayName("Scheme") <i class="fa fa-fw fa-sort"></i>
                </th>
                <th onclick="searchTable(5)" style="width: 8%!important">
                    @Html.DisplayName("ID/Auth #") <i class="fa fa-fw fa-sort"></i>
                </th>
                <th onclick="searchTable(1)" style="width: 7%!important">
                    @Html.DisplayName("Option") <i class="fa fa-fw fa-sort"></i>
                </th>
                <th onclick="searchTable(2)" style="width: 8%!important">
                    @Html.DisplayName("Member #") <i class="fa fa-fw fa-sort"></i>
                </th>
                <th onclick="searchTable(3)" style="width: 7%">
                    @Html.DisplayName("Dep") <i class="fa fa-fw fa-sort"></i>
                </th>
                <th onclick="searchTable(4)" style="width: 10%!important">
                    @Html.DisplayName("Patient") <i class="fa fa-fw fa-sort"></i>
                </th>
                <th onclick="searchTable(7)" style="width: 7%!important">
                    @Html.DisplayName("Program") <i class="fa fa-fw fa-sort"></i>
                </th>
                <th onclick="searchTable(7)" style="width: 7%!important">
                    @Html.DisplayName("ICD-10") <i class="fa fa-fw fa-sort"></i> @*HCare-958*@
                </th>
                <th onclick="searchTable(8)" style="width: 8%!important">
                    @Html.DisplayName("Member status") <i class="fa fa-fw fa-sort"></i>
                </th>
                <th onclick="searchTable(8)" style="width: 8%!important">
                    @Html.DisplayName("Doctor") <i class="fa fa-fw fa-sort"></i>
                </th>
                <th onclick="searchTable(8)" style="width: 8%!important">
                    @Html.DisplayName("Doctor Email") <i class="fa fa-fw fa-sort"></i>
                </th>
                <th onclick="searchTable(8)" style="width: 8%!important">
                    @Html.DisplayName("Doctor Contact") <i class="fa fa-fw fa-sort"></i>
                </th>
                @*<th onclick="searchTable(11)" style="width: 7%">
                        @Html.DisplayName("Effective") <i class="fa fa-fw fa-sort"></i>
                    </th>*@
                @*<th onclick="searchTable(10)" style="width: 90px">
                        @Html.DisplayName("Lab") <i class="fa fa-fw fa-sort"></i>
                    </th>*@
                <th onclick="searchTable(10)" style="width: 7%!important">
                    @Html.DisplayName("Mobile") <i class="fa fa-fw fa-sort"></i>
                </th>
                @*<th onclick="searchTable(10)" style="width: 7%!important">
                        @Html.DisplayName("Risk rating") <i class="fa fa-fw fa-sort"></i>
                    </th>*@

                <th style="text-align: center!important; width: 7%">
                    Action
                </th>
            </tr>
        </thead>

        @if (Model != null)
        {
            <tbody>
                @foreach (var item in Model.advancedSearchResultModels)
                {
                    <tr>
                        <td data-dateformat="DD-MM-YYYY">
                            @Html.DisplayFor(modelItem => item.createdDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.medicalAidCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.schemeOption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.membershipNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DependantCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.memberName_UC) @Html.DisplayFor(modelItem => item.memberSurname_UC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.program)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.icd10Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.memberStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.drName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.drEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.drCell)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.StatusEffectiveDate)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.latestPathologyLab)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.cell)
                        </td>
                        @*<td style="text-align: center!important">
                                @if (item.RiskRating == "R")
                                {
                                    <p style="color: darkred; font-weight: bold">High</p>
                                }
                                else if (item.RiskRating == "Y")
                                {
                                    <p style="color: orange; font-weight: bold">Medium</p>
                                }
                                else if (item.RiskRating == "G")
                                {
                                    <p style="color: green; font-weight: bold">Low</p>
                                }
                            </td>*@
                        <td class="statusCode linkNav" style="text-align: center!important">
                            @Html.RenderActionLink("View", "MemberProgram", "Member", new { DependentId = item.dependantID }, null)
                        </td>
                    </tr>
                }
            </tbody>
        }

    </table>
    <br />
    <br />

    <div class="fixedBack" style="margin-left: 44%">
        <input value="Back" class="btn buttonRound_formBack go_back" style="width: 15%" />
    </div>
    <br />

</div>


@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchTable').DataTable({
                "iDisplayLength": 50,
                "lengthMenu": [10, 25, 50, 100, 200],
                "searching": false,
                "ordering": false,
                "info": true,


            });

            var table = $('#searchTable').dataTable();

            $("#btnExport").click(function (e) {

                e.preventDefault();
                window.open('data:application/vnd.ms-excel,' + encodeURIComponent(table[0].outerHTML));

            });



        });
    </script>
    <script>
        var $rows = $('#searchTable tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

        /*tableSorting*/
        function searchTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("searchTable");
            switching = true;
            dir = "asc";

            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("TR");

                for (i = 1; i < (rows.length - 1); i++) {

                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

    </script>
}
