@model IEnumerable<HaloCareCore.Models.Communications.EducationalNotes>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "educationalNote_Index";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>

<!--dateSort_JQ-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script>

<div class="fullScreen_container zero-padding">

    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-title_patientProfile">
                <span><i class="fas fa-sticky-note"></i></span>&emsp; Educational notes
            </h1>
        </div>
        <div class="pull-right title">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
            <h1 class="site-title_userID pull-right">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
                {
                    <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
                }
            </h1>
            <h1 class="site-waffleIcon pull-right">
                <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
            </h1>
        </div>
    </nav>

    <!--breadCrumbs-->
    <ul class="breadcrumbs_fullScreens">
        <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
        <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
        <li><a href="@Url.Action("Index", "Administration", new {})">Settings</a></li>
        <li><a href="#">Educational notes</a></li>
    </ul>

    <!--navCollection-->
    <div class="navCollection_fullScreens">
        @Html.Partial("_navCollection")
    </div>

    <div style="margin-bottom: 3.5%"></div>


    <h4 class="tableHeading">Educational note overview</h4>

    <!--createNew-->
    <div class="createNew_link" style="margin-top: -1%; margin-bottom: -1%">
        <a href="@Url.Action("educationalNote_Create", "Administration", new { })">
            <span id="texts">
                Create new
            </span>

            <i class="material-icons" id="icon" title="New enrolment">
                add_circle_outline
            </i>
        </a>
    </div>
    <!--jQ_Search-->
    <div class="row tableSearch_patientOverview" style="margin-top: -2%; margin-bottom: 0.5%">
        <div class="col-md-6 pull-right">
            <ul class="input-group" id="adv-search">

                <ul class="nav navbar-nav navbar-right">
                    <li class="focus">
                        <label for="tableSearch" class="control-label"></label> <input type="text" class="form-control-patientSearch" id="ttSearch" onkeyup="myFunction()" placeholder="Search..." style="position: relative; z-index: 50; margin-top: 0%" />
                    </li>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-search" style="height: 29px"><span class="glyphicon glyphicon-search" aria-hidden="true" title="Search"></span></button>
                    </div>
                </ul>
            </ul>
        </div>
    </div>

    <table class="table administration_Table sortable" id="enTable">
        <thead>
            <tr>
                <th style="width: 100px">@Html.DisplayNameFor(model => model.createdDate) <i class="fa fa-fw fa-sort"></i></th>
                <th onclick="enTable(1)" style="width: 120px">@Html.DisplayNameFor(model => model.title) <i class="fa fa-fw fa-sort"></i></th>
                <th>@Html.DisplayNameFor(model => model.note)</th>
                <th onclick="enTable(2)" style="width: 120px">@Html.DisplayNameFor(model => model.createdBy) <i class="fa fa-fw fa-sort"></i></th>
                <th style="width: 100px">@Html.DisplayNameFor(model => model.modifiedDate) <i class="fa fa-fw fa-sort"></i></th>
                <th onclick="enTable(3)" style="width: 120px">@Html.DisplayNameFor(model => model.modifiedBy) <i class="fa fa-fw fa-sort"></i></th>
                <th style="text-align: center!important">@Html.DisplayNameFor(model => model.Active)</th>
                <th style="text-align: center!important">Action</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td data-dateformat="DD-MM-YYYY">
                        @Html.DisplayFor(modelItem => item.createdDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdBy)
                    </td>
                    <td data-dateformat="DD-MM-YYYY">
                        @Html.DisplayFor(modelItem => item.modifiedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.modifiedBy)
                    </td>
                    <td class="activeCheck">

                        @if (item.Active)
                        {
                            <img src="~/Content/Images/Navigation/5. Reports/reportCheck.png" />
                        }
                        else
                        {
                            <img src="~/Content/Images/Navigation/5. Reports/reportCheck_x.png" />
                        }

                    </td>
                    <td class="linkNav" style="text-align: center!important">
                        @Html.ActionLink("Edit", "educationalNote_Edit", new { id = item.Id })
                    </td>
                </tr>
            </tbody>
        }

    </table>
    <div class="fixedBack">
        <input value="Back" class="btn buttonRound_formBack " onclick="MainbackBtn();" style="width: 15%" />
    </div>
</div>

<script src="js/jquery.tablesorter.min.js"></script>

@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <script>

        /*enTable tableSearch*/
        var $rows = $('#enTable tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

        /*enTable tableSort*/
        function enTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("enTable");
            switching = true;
            dir = "asc";

            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("TR");

                for (i = 1; i < (rows.length - 1); i++) {

                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        /*goBack*/
       function MainbackBtn() {
            window.location.href = '@Url.Action("Index", "Administration")';
        }

    </script>
}