@model HaloCareCore.Models.ViewModels.CaseManagerVM

@{
    ViewBag.Title = "Case manager";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
<comment>
    <!--
        07 August 2020 -- HCare-1126(Mental Health Disease: QUESTIONNAIRE - DEPRESSION)
    -->
</comment>
<style>
    .field-validation-error:before {
        font-family: FontAwesome;
        content: "\f06a\00a0";
    }

    .warning-alert {
        width: 100%;
        margin: 0 auto;
        background-color: #fff3cd;
        padding: 10px;
        border-left-color: #FEAF20 !important;
        border: 1px solid transparent;
        border-left-width: 5px;
        border-radius: 3px;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        margin: 0 0 5px 0;
    }

        .warning-alert span {
            color: #FEAF20;
            text-align: center;
        }

    .history-collapse {
        color: #ccc;
        margin-left: 10px;
    }

    .selectize-control.single .selectize-input > div {
        /*padding: 15px 5px 15px 5px !important;*/
        padding-left: 10px!important;
        background: #1da7ee;
        color: #ffffff;
        border: 1px solid transparent !important;
    }

    textarea#UserMemberHistory_Comment {
        display: block;
        max-width: 1500px !important;
        width: 90% !important;
        max-height: 200px !important;
        height: auto !important;
        margin-top: 10px;
        margin-left: 10px;
        display: block;
        padding: 6px 6px !important;
        line-height: 1.428571429 !important;
        color: #003366 !important;
        border-radius: 0px !important;
        border: none !important;
        border-bottom: 1px solid #e8e6e6 !important;
        background-color: transparent !important;
        padding-left: 5px !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition: none !important;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        outline: none !important;
    }
</style>
<javascript>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.default.css">
</javascript>

<div class="modal-content-mental-health" style="margin-top: 0%;">
    @using (Ajax.BeginForm("_AllocateCaseManager", "Clinical", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divPath", OnSuccess = "hideModal(); alert('Saved');" }, new { id = "casemanager-assignment" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("taskId", (object)ViewBag.task)
        @Html.Hidden("DependantID", (object)ViewBag.DependantID)
        @Html.Hidden("id", (object)ViewBag.id)
        @Html.Hidden("template", (object)ViewBag.templateID)
        @Html.Hidden("pro", (object)ViewBag.pro)

        @Html.AntiForgeryToken()

        <div class="modal-dialog-mental-health">
            <div class="modal-header-mental-health">
                <div class="mental-health-checkbox pull-right">
                    @Html.CheckBox("close") <label for="follow-up" title="Close" data-dismiss="modal"><span><i class="fas fa-circle close-button"></i></span></label>
                </div>
                <div class="col-md-4"><h5 class="modal-title" id="modal-email"><img src="~/Content/Images/_2020/icons/modal-icons/mental-health-assignment.png" class="logo-modal" /></h5></div>
                <div class="col-md-4 div-center"><p class="div-header">Case manager</p></div>
            </div>
            <div class="modal-body-mental-health" style="margin-left: 0px; margin-top: 10px;">
                <div class="form-horizontal">

                    @if (Model.UserMemberHistories.Count() != 0)
                    {
                        <div class="dr-referral-history">
                            <div>
                                <p class="history-collapse">History &nbsp;<i class="fas fa-sort-down" style="font-size: 15px"></i></p>
                            </div>

                            <div id="dr-referral-history" class="form-group hidden">
                                <div class="row">
                                    <table class="table mh-table table-hover sortable" style="margin-left: 1.6%">
                                        <thead>
                                            <tr>
                                                <th style="width: 15%; text-align: left!important">@Html.DisplayNameFor(model => model.UserMemberHistories[0].EffectiveDate)</th>
                                                <th style="width: 15%; text-align: left!important">@Html.DisplayNameFor(model => model.UserMemberHistories[0].UserFullName)</th>
                                                <th style="width: 55%">@Html.DisplayNameFor(model => model.UserMemberHistories[0].Program)</th>
                                                <th style="width: 15%; text-align: center!important">@Html.DisplayNameFor(model => model.UserMemberHistories[0].Active)</th>
                                            </tr>
                                        </thead>

                                        @foreach (var item in Model.UserMemberHistories)
                                        {
                                            <tbody>
                                                <tr style="text-indent: 5px">
                                                    <td data-dateformat="DD-MM-YYYY" class="text-left"><span class="@(item.Active == true ? "" : "active-false")">@(item.EffectiveDate == null ? "" : item.EffectiveDate.Value.ToString("dd-MM-yyyy"))</span></td>
                                                    <td class="row-information"><span class="@(item.Active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.UserFullName)</span></td>
                                                    <td class="row-information"><span class="@(item.Active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.Program)</span></td>
                                                    <td class="row-information" style="text-align: center!important"><span class="@(item.Active == true ? "chk-yes fas fa-circle" : "chk-no fas fa-circle")"></span></td>
                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    <br />
                    <table id="cm-table" class="table mental-health-table">
                        <tr>
                            <td style="width: 5%; border-bottom: none!important"></td>
                            <td style="width: 15%;padding-top: 25px !important;text-align: right !important;font-weight: bolder;border-bottom: none !important">Case manager</td>
                            <td style="width: 80%;border-bottom: none !important">
                                @Html.DropDownList("Users", null, "Select", htmlAttributes: new { @required = "required" })
                                @Html.ValidationMessage("Users", "", new { @class = "text-danger", @style = "font-size: 90%; margin-left: 1%" })
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 5%"></td>
                            <td style="width: 10%; padding-top: 25px!important; text-align: right!important;font-weight: bolder">
                                Comments
                            </td>
                            <td style="width: 85%">
                                @Html.TextAreaFor(model => model.UserMemberHistory.Comment, new { placeholder = "Your comment here...", @required = "required" })
                                @Html.ValidationMessageFor(model => model.UserMemberHistory.Comment, "", new { @class = "text-danger", @style = "font-size: 90%; margin-left: 2%" })
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer-mental-health">
                <input id="cancel" type="button" value="Cancel" class="modal-button" style="width: 10%" data-dismiss="modal" aria-label="Close" />
                <input id="submit" type="submit" value="Submit" class="modal-button" style="width: 10%" />
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/bundles/jqueryval"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".history-collapse").on("click", function () {
                $("#dr-referral-history").fadeIn("slow").toggleClass("hidden");
            });
        });
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.js"></script>
    <script>
        initSelectize();
        function initSelectize() {
            $('#Users').selectize({
                persist: true,
                preload: true,
                maxItems: 1,
                delimiter: ',',
                valueField: 'id',
                labelField: 'name',
                searchField: ['name'],
                hideSelected: true,
                plugins: ['remove_button'],
                render: {
                    option: function (item, escape) {
                        return '<span class="name">' + escape(item.name) + '</span>';

                    }
                }
            })
        }
    </script>

}

