@model HaloCareCore.Models.ViewModels.MentalHealthVM

@{
    ViewBag.Title = "DSM5";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
<comment>
    <!--
        29 July 2020 -- HCare-1123(Mental Health Disease: QUESTIONNAIRE - DSM5)
        23 November 2020 -- HCare-1205(PRJ-36 - Mental Health Disease: NEW DSM5)
    -->
</comment>
<style>
    .field-validation-error:before {
        font-family: FontAwesome;
        content: "\f06a\00a0";
    }

    .subtext {
        color: #808080;
        font-size: 14px;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] .subtext {
        color: #fff
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected]:hover .subtext {
        color: #fff
    }

    .select2-container--default .select2-selection--single {
        display: block !important;
        width: 250px !important;
        max-height: 100px;
        height: 30px;
        margin-left: 10px;
        padding: 6px 6px;
        line-height: 1.428571429;
        color: #003366;
        border-radius: 0px !important;
        border: none !important;
        border-bottom: 1px solid #e8e6e6 !important;
        background-color: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline: none !important
    }

        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            color: white !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            margin-top: -5px !important;
        }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 40;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.5);
        overflow-x: visible;
    }

    .warning {
        display: none;
        background: #fff;
        color: #FFFFFF;
        border: none;
        border-radius: 10px;
        position: absolute;
        width: 500px;
        left: 50%;
        top: 10%;
        margin-left: -258px;
        padding: 0px;
        box-sizing: border-box;
        z-index: 50;
    }

    .warning-pop-up {
        display: none;
        background: #fff;
        color: #FFFFFF;
        border: none;
        border-radius: 10px;
        position: fixed;
        width: 500px;
        left: 50%;
        top: 10%;
        margin-left: -258px;
        padding: 0px;
        box-sizing: border-box;
        z-index: 50;
    }

    .assignment-header {
        background: #E74D4F;
        text-align: center;
        padding: 10px 20px 10px 10px;
        margin-top: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 5px solid #E74D4F;
    }

    .assignment-logo {
        color: white;
        text-align: center;
        font-size: 50px;
    }

    .assignment-heading {
        padding: 10px;
        font-family: Comfortaa;
        color: rgb(0,0,0);
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

    .assignment-message {
        color: rgb(0,0,0);
        text-align: center;
        padding: 10px 10px 10px 10px;
    }

    .error-alert {
        width: 100%;
        margin: 0 auto;
        background-color: rgba(217, 83, 79, 0.1);
        padding: 10px;
        border-left-color: #d9534f !important;
        border: 1px solid transparent;
        border-left-width: 5px;
        border-radius: 3px;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        margin: 0 0 5px 0;
    }

        .error-alert span {
            color: #d9534f;
            text-align: center;
        }

    .warning-alert {
        width: 100%;
        margin: 0 auto;
        background-color: #fff3cd;
        padding: 10px;
        border-left-color: #FEAF20 !important;
        border: 1px solid transparent;
        border-left-width: 5px;
        border-radius: 3px;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        margin: 0 0 5px 0;
    }

        .warning-alert span {
            color: #FEAF20;
            text-align: center;
        }
</style>

<div class="modal-content-mental-health" style="margin-top: 0%;">
    @using (Ajax.BeginForm("_DSM5Questionnaire", "Clinical", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divPath", OnSuccess = "hideModal(); alert('Saved');" }, new { id = "dsm5" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("taskId", (object)ViewBag.task)
        @Html.Hidden("DependantID", (object)ViewBag.DependantID)
        @Html.Hidden("id", (object)ViewBag.id)
        @Html.Hidden("template", (object)ViewBag.templateID)
        @Html.Hidden("pro", (object)ViewBag.pro)

        @Html.AntiForgeryToken()
        <div id="overlay" class="overlay"></div>
        <div class="modal-dialog-mental-health">
            <div class="modal-header-mental-health">
                <div class="mental-health-checkbox pull-right">
                    @Html.CheckBox("close") <label for="follow-up" title="Close" data-dismiss="modal"><span><i class="fas fa-circle close-button"></i></span></label>
                </div>
                <div class="mental-health-checkbox pull-right" style=" margin-right: 10px">
                    @Html.CheckBox("dsm5-follow-up") <label for="dsm5-follow-up" title="Follow Up"><span><i class="fas fa-circle follow-up-button"></i></span></label>
                </div>
                <div class="col-md-4"><h5 class="modal-title" id="modal-email"><img src="~/Content/Images/_2020/icons/modal-icons/mental-health-assignment.png" class="logo-modal" /></h5></div>
                <div class="col-md-4 div-center"><p class="div-header">DSM5 Questionnaire</p></div>
            </div>
            <div class="modal-body-mental-health" style="margin-left: 0px; margin-top: 10px;">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        <div id="substance-abuse-notice" class="hidden"><div class="error-alert"><span>&emsp; <i class="fas fa-exclamation-triangle"></i>&nbsp; Substance abuse!</span></div></div>
                        <div id="follow-up-dsm5" class="hidden"><div class="warning-alert"><span>&emsp; <i class="fas fa-exclamation-triangle"></i>&nbsp; Follow up!</span></div></div>
                    </div>
                    <table id="dsm5-table" class="table mental-health-table">
                        <tr>
                            <td style="width: 4%; text-align:center!important">Q1</td>
                            <td style="width: 80%">Are you currently using drugs or abusing alcohol?</td>
                            <td style="width: 2.5%">
                                <div class="col-md-4 disclaimer-checkbox">
                                    @Html.CheckBox("abuse-yes", new { @required = "required" }) <label for="abuse-yes" title="yes"><span id="abuse-yes" class="grey"><i class="fas fa-circle question-button"></i></span></label>
                                </div>
                            </td>
                            <td style="width: 2.5%">
                                <div class="col-md-4 disclaimer-checkbox">
                                    @Html.CheckBox("abuse-no", new { @required = "required" }) <label for="abuse-no" title="no"><span id="abuse-no" class="grey"><i class="fas fa-circle question-button"></i></span></label>
                                </div>
                            </td>
                            <td style="width: 2%">
                                @Html.ValidationMessage("abuse-yes", " ", new { @class = "text-danger", @style = "font-size: 80%;margin-left: 2%", @id = "abuse-yes-error" })
                            </td>
                        </tr>
                    </table>
                    <table id="dsm5-table" class="table mental-health-table">
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q2</td>
                            <td style="width: 80%">
                                Depression: Are you feeling down, hopeless, helpless, or worthless?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-depression-one" name="dsm5-depression-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="depression-one-text" name="depression-one-text" />
                                <input type="hidden" id="depression-one-score" name="depression-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-depression-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-depression-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q3</td>
                            <td style="width: 80%">
                                Depression: Do you have little <b><i>interest</i></b> and pleasure in doing things
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-depression-two" name="dsm5-depression-two" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="depression-two-text" name="depression-two-text" />
                                <input type="hidden" id="depression-two-score" name="depression-two-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-depression-two", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-depression-two-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q4</td>
                            <td style="width: 80%">
                                Anger: Are you feeling irritated, and angry?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-anger-one" name="dsm5-anger-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="anger-one-text" name="anger-one-text" />
                                <input type="hidden" id="anger-one-score" name="anger-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-anger-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-anger-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q5</td>
                            <td style="width: 80%">
                                Mania: Are you sleeping less- but have more <b><i>energy</i></b>?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-mania-one" name="dsm5-mania-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="mania-one-text" name="mania-one-text" />
                                <input type="hidden" id="mania-one-score" name="mania-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-mania-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-mania-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q6</td>
                            <td style="width: 80%">
                                Mania: Are you doing more projects and more <b><i>risks</i></b> than usual?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-mania-two" name="dsm5-mania-two" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="mania-two-text" name="mania-two-text" />
                                <input type="hidden" id="mania-two-score" name="mania-two-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-mania-two", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-mania-two-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q7</td>
                            <td style="width: 80%">
                                Anxiety: Are you feeling nervous, worried or <b><i>anxious</i></b>?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-anxiety-one" name="dsm5-anxiety-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="anxiety-one-text" name="anxiety-one-text" />
                                <input type="hidden" id="anxiety-one-score" name="anxiety-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-anxiety-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-anxiety-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q8</td>
                            <td style="width: 80%">
                                Anxiety: Are you <b><i>frightened</i></b>, or do you panic?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-anxiety-two" name="dsm5-anxiety-two" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="anxiety-two-text" name="anxiety-two-text" />
                                <input type="hidden" id="anxiety-two-score" name="anxiety-two-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-anxiety-two", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-anxiety-two-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q9</td>
                            <td style="width: 80%">
                                Anxiety: Are you avoiding anxious situations?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-anxiety-three" name="dsm5-anxiety-three" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="anxiety-three-text" name="anxiety-three-text" />
                                <input type="hidden" id="anxiety-three-score" name="anxiety-three-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-anxiety-three", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-anxiety-three-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q10</td>
                            <td style="width: 80%">
                                Somatic: Do you have unexplained aches or <b><i>pains</i></b>?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-somatic-one" name="dsm5-somatic-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="somatic-one-text" name="somatic-one-text" />
                                <input type="hidden" id="somatic-one-score" name="somatic-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-somatic-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-somatic-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q11</td>
                            <td style="width: 80%">
                                Somatic:  Do you feel others do not take your illness serious?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-somatic-two" name="dsm5-somatic-two" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="somatic-two-text" name="somatic-two-text" />
                                <input type="hidden" id="somatic-two-score" name="somatic-two-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-somatic-two", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-somatic-two-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q12</td>
                            <td style="width: 80%">
                                Suicide: Do you have thoughts of hurting yourself?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-suicide-one" name="dsm5-suicide-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="suicide-one-text" name="suicide-one-text" />
                                <input type="hidden" id="suicide-one-score" name="suicide-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-suicide-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-suicide-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q13</td>
                            <td style="width: 80%">
                                Psychosis: Are you <b><i>hearing or seeing</i></b> things when other people not around?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-psychosis-one" name="dsm5-psychosis-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="psychosis-one-text" name="psychosis-one-text" />
                                <input type="hidden" id="psychosis-one-score" name="psychosis-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-psychosis-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-psychosis-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q14</td>
                            <td style="width: 80%">
                                Psychosis: Are you feeling that someone can hear your thoughts, or you can hear another person’s <b><i>thoughts</i></b>?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-psychosis-two" name="dsm5-psychosis-two" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="psychosis-two-text" name="psychosis-two-text" />
                                <input type="hidden" id="psychosis-two-score" name="psychosis-two-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-psychosis-two", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-psychosis-two-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q15</td>
                            <td style="width: 80%">
                                Sleep: How is your sleep quality affected overall
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-sleep-one" name="dsm5-sleep-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="sleep-one-text" name="sleep-one-text" />
                                <input type="hidden" id="sleep-one-score" name="sleep-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-sleep-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-sleep-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q16</td>
                            <td style="width: 80%">
                                Memory: Do you have a problem with learning or location (finding your way home)?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-memory-one" name="dsm5-memory-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="memory-one-text" name="memory-one-text" />
                                <input type="hidden" id="memory-one-score" name="memory-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-memory-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-memory-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q17</td>
                            <td style="width: 80%">
                                Thoughts/Behaviour: Do you have <b><i>unpleasant</i></b> thoughts or images?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-behaviour-one" name="dsm5-behaviour-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="behaviour-one-text" name="behaviour-one-text" />
                                <input type="hidden" id="behaviour-one-score" name="behaviour-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-behaviour-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-behaviour-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q18</td>
                            <td style="width: 80%">
                                Thoughts/Behaviour: Are you driven to perform acts or some behaviour <b><i>repeatedly</i></b>?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-behaviour-two" name="dsm5-behaviour-two" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="behaviour-two-text" name="behaviour-two-text" />
                                <input type="hidden" id="behaviour-two-score" name="behaviour-two-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-behaviour-two", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-behaviour-two-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q19</td>
                            <td style="width: 80%">
                                Dissociation: Are you feeling detached from your self-surroundings and memories?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-dissociation-one" name="dsm5-dissociation-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="dissociation-one-text" name="dissociation-one-text" />
                                <input type="hidden" id="dissociation-one-score" name="dissociation-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-dissociation-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-dissociation-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q20</td>
                            <td style="width: 80%">
                                Personality: Not knowing <b><i>who you really are</i></b>?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-personality-one" name="dsm5-personality-one" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="personality-one-text" name="personality-one-text" />
                                <input type="hidden" id="personality-one-score" name="personality-one-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-personality-one", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-personality-one-error" })</td>
                        </tr>
                        <tr>
                            <td style="width: 6%; text-align:center!important">Q21</td>
                            <td style="width: 80%">
                                Personality: Do you feel that you are not enjoying your relationships/not feeling close?
                            </td>
                            <td style="width: 50%">
                                <select id="dsm5-personality-two" name="dsm5-personality-two" class="form-control select2" style="width: 100%;" required>
                                    <option subtext="" selected="selected" disabled>Select</option>
                                    <option value="0" subtext="No signs or symptoms.">Absent</option>
                                    <option value="1" subtext="Less than 2 days.">Mild</option>
                                    <option value="2" subtext="Several days.">Moderate</option>
                                    <option value="3" subtext="More than half the days.">Severe</option>
                                    <option value="4" subtext="Nearly every day.">Urgent</option>
                                </select>

                                <input type="hidden" id="personality-two-text" name="personality-two-text" />
                                <input type="hidden" id="personality-two-score" name="personality-two-score" />
                            </td>
                            <td style="width: 2%">@Html.ValidationMessage("dsm5-personality-two", " ", new { @class = "text-danger", @style = "font-size: 90%;margin-left: 1%", @id = "dsm5-personality-two-error" })</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer-mental-health">
                <input id="cancel-dsm5" type="button" value="Cancel" class="modal-button" style="width: 10%" data-dismiss="modal" aria-label="Close" />
                <input id="submit" type="submit" value="Submit" class="modal-button" style="width: 10%" />
            </div>
        </div>
    }

    <div class="warning-pop-up" id="abuse-warning-dsm5">
        <button type="button" class="warning-close yes" id="dsm5-alert-close-x"><span aria-hidden="true">&times;</span></button>
        <div class="assignment-header">
            <div class="assignment-logo"><i class="fas fa-exclamation-triangle"></i></div>
        </div>
        <div class="assignment-heading">WARNING!</div>
        <div class="assignment-message"><b>Substance abuse</b> may influence the symptoms that the member may experience and thus the answer should take this into consideration.</div>
        <div class="assignment-footer" style="text-align:center!important"><input id="abuse-warning-dsm5-submit" value="OK" class="btn alert-button yes" /></div>
    </div>

    <div class="warning-pop-up" id="suicide-warning-dsm5">
        <button type="button" class="warning-close yes" id="dsm5-warning-close-x"><span aria-hidden="true">&times;</span></button>
        <div class="assignment-header">
            <div class="assignment-logo"><i class="fas fa-exclamation-triangle"></i></div>
        </div>
        <div class="assignment-heading">ALERT!</div>
        <div class="assignment-message"><b>Suicide alert: </b>Doctor referral assignment will be required!</div>
        <div class="assignment-footer" style="text-align:center!important"><input id="suicide-warning-dsm5-submit" value="OK" class="btn alert-button yes" /></div>
    </div>
</div>

@section Scripts {
    <script src="~/bundles/jqueryval"></script>
    <script>
        $('#dsm5-follow-up').change(function () {
            if (this.checked) {
                $("#follow-up-notice").removeClass("hidden"),
                    $('input[type=checkbox]').prop("required", false);
            }
            else {
                $("#follow-up-notice").addClass("hidden"),
                    $('input[type=checkbox]').prop("required", true);
            }

        });
    </script>
    <script>
        $('#dsm5-follow-up').change(function () {
            if (this.checked) {
                $("#follow-up-dsm5").removeClass("hidden"),
                    $('#dsm5-depression-one').prop("required", false),
                    $('#dsm5-depression-two').prop("required", false),
                    $('#dsm5-anger-one').prop("required", false),
                    $('#dsm5-mania-one').prop("required", false),
                    $('#dsm5-mania-two').prop("required", false),
                    $('#dsm5-anxiety-one').prop("required", false),
                    $('#dsm5-anxiety-two').prop("required", false),
                    $('#dsm5-anxiety-three').prop("required", false),
                    $('#dsm5-somatic-one').prop("required", false),
                    $('#dsm5-somatic-two').prop("required", false),
                    $('#dsm5-suicide-one').prop("required", false),
                    $('#dsm5-psychosis-one').prop("required", false),
                    $('#dsm5-psychosis-two').prop("required", false),
                    $('#dsm5-sleep-one').prop("required", false),
                    $('#dsm5-memory-one').prop("required", false),
                    $('#dsm5-behaviour-one').prop("required", false),
                    $('#dsm5-behaviour-two').prop("required", false),
                    $('#dsm5-dissociation-one').prop("required", false),
                    $('#dsm5-personality-one').prop("required", false),
                    $('#dsm5-personality-two').prop("required", false),

                    $("#dsm5-depression-one-error").hide(),
                    $("#dsm5-depression-two-error").hide(),
                    $("#dsm5-anger-one-error").hide(),
                    $("#dsm5-mania-one-error").hide(),
                    $("#dsm5-mania-two-error").hide(),
                    $("#dsm5-anxiety-one-error").hide(),
                    $("#dsm5-anxiety-two-error").hide(),
                    $("#dsm5-anxiety-three-error").hide(),
                    $("#dsm5-somatic-one-error").hide(),
                    $("#dsm5-somatic-two-error").hide(),
                    $("#dsm5-suicide-one-error").hide(),
                    $("#dsm5-psychosis-one-error").hide(),
                    $("#dsm5-psychosis-two-error").hide(),
                    $("#dsm5-sleep-one-error").hide(),
                    $("#dsm5-memory-one-error").hide(),
                    $("#dsm5-behaviour-one-error").hide(),
                    $("#dsm5-behaviour-two-error").hide(),
                    $("#dsm5-dissociation-one").hide(),
                    $("#dsm5-personality-one").hide(),
                    $("#dsm5-personality-two").hide();

            }
            else {
                $("#follow-up-dsm5").addClass("hidden"),
                    $('#dsm5-depression-one').prop("required", true),
                    $('#dsm5-depression-two').prop("required", true),
                    $('#dsm5-anger-one').prop("required", true),
                    $('#dsm5-mania-one').prop("required", true),
                    $('#dsm5-mania-two').prop("required", true),
                    $('#dsm5-anxiety-one').prop("required", true),
                    $('#dsm5-anxiety-two').prop("required", true),
                    $('#dsm5-anxiety-three').prop("required", true),
                    $('#dsm5-somatic-one').prop("required", true),
                    $('#dsm5-somatic-two').prop("required", true),
                    $('#dsm5-suicide-one').prop("required", true),
                    $('#dsm5-psychosis-one').prop("required", true),
                    $('#dsm5-psychosis-two').prop("required", true),
                    $('#dsm5-sleep-one').prop("required", true),
                    $('#dsm5-memory-one').prop("required", true),
                    $('#dsm5-behaviour-one').prop("required", true),
                    $('#dsm5-behaviour-two').prop("required", true),
                    $('#dsm5-dissociation-one').prop("required", true),
                    $('#dsm5-personality-one').prop("required", true),
                    $('#dsm5-personality-two').prop("required", true),

                    $("#dsm5-depression-one-error").show(),
                    $("#dsm5-depression-two-error").show(),
                    $("#dsm5-anger-one-error").show(),
                    $("#dsm5-mania-one-error").show(),
                    $("#dsm5-mania-two-error").show(),
                    $("#dsm5-anxiety-one-error").show(),
                    $("#dsm5-anxiety-two-error").show(),
                    $("#dsm5-anxiety-three-error").show(),
                    $("#dsm5-somatic-one-error").show(),
                    $("#dsm5-somatic-two-error").show(),
                    $("#dsm5-suicide-one-error").show(),
                    $("#dsm5-psychosis-one-error").show(),
                    $("#dsm5-psychosis-two-error").show(),
                    $("#dsm5-sleep-one-error").show(),
                    $("#dsm5-memory-one-error").show(),
                    $("#dsm5-behaviour-one-error").show(),
                    $("#dsm5-behaviour-two-error").show(),
                    $("#dsm5-dissociation-one").show(),
                    $("#dsm5-personality-one").show(),
                    $("#dsm5-personality-two").show();
            }

        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });
        });
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dsm5-suicide-one').on("select2:select", function (e) {
                $("#suicide-one-text").val($("#dsm5-suicide-one :selected").text());
                $("#suicide-one-score").val($(this).val());
                $("#dsm5-suicide-one-error").hide();

                if ($(this).val() > 0) {
                    dsm5_alertmessage(),
                        dsm5_open_overlay(),
                        $("#dsm5-suicide-one-error").hide();

                }
                else {

                }

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#dsm5-depression-one').on("select2:select", function (e) {
                $("#depression-one-text").val($("#dsm5-depression-one :selected").text());
                $("#depression-one-score").val($(this).val());
                $("#dsm5-depression-one-error").hide();
            });
            $('#dsm5-depression-two').on("select2:select", function (e) {
                $("#depression-two-text").val($("#dsm5-depression-two :selected").text());
                $("#depression-two-score").val($(this).val());
                $("#dsm5-depression-two-error").hide();
            });
            $('#dsm5-anger-one').on("select2:select", function (e) {
                $("#anger-one-text").val($("#dsm5-anger-one :selected").text());
                $("#anger-one-score").val($(this).val());
                $("#dsm5-anger-one-error").hide();
            });
            $('#dsm5-mania-one').on("select2:select", function (e) {
                $("#mania-one-text").val($("#dsm5-mania-one :selected").text());
                $("#mania-one-score").val($(this).val());
                $("#dsm5-mania-one-error").hide();
            });
            $('#dsm5-mania-two').on("select2:select", function (e) {
                $("#mania-two-text").val($("#dsm5-mania-two :selected").text());
                $("#mania-two-score").val($(this).val());
                $("#dsm5-mania-two-error").hide();
            });
            $('#dsm5-anxiety-one').on("select2:select", function (e) {
                $("#anxiety-one-text").val($("#dsm5-anxiety-one :selected").text());
                $("#anxiety-one-score").val($(this).val());
                $("#dsm5-anxiety-one-error").hide();
            });
            $('#dsm5-anxiety-two').on("select2:select", function (e) {
                $("#anxiety-two-text").val($("#dsm5-anxiety-two :selected").text());
                $("#anxiety-two-score").val($(this).val());
                $("#dsm5-anxiety-two-error").hide();
            });
            $('#dsm5-anxiety-three').on("select2:select", function (e) {
                $("#anxiety-three-text").val($("#dsm5-anxiety-three :selected").text());
                $("#anxiety-three-score").val($(this).val());
                $("#dsm5-anxiety-three-error").hide();
            });
            $('#dsm5-somatic-one').on("select2:select", function (e) {
                $("#somatic-one-text").val($("#dsm5-somatic-one :selected").text());
                $("#somatic-one-score").val($(this).val());
                $("#dsm5-somatic-one-error").hide();
            });
            $('#dsm5-somatic-two').on("select2:select", function (e) {
                $("#somatic-two-text").val($("#dsm5-somatic-two :selected").text());
                $("#somatic-two-score").val($(this).val());
                $("#dsm5-somatic-two-error").hide();
            });
            $('#dsm5-psychosis-one').on("select2:select", function (e) {
                $("#psychosis-one-text").val($("#dsm5-psychosis-one :selected").text());
                $("#psychosis-one-score").val($(this).val());
                $("#dsm5-psychosis-one-error").hide();
            });
            $('#dsm5-psychosis-two').on("select2:select", function (e) {
                $("#psychosis-two-text").val($("#dsm5-psychosis-two :selected").text());
                $("#psychosis-two-score").val($(this).val());
                $("#dsm5-psychosis-two-error").hide();
            });
            $('#dsm5-sleep-one').on("select2:select", function (e) {
                $("#sleep-one-text").val($("#dsm5-sleep-one :selected").text());
                $("#sleep-one-score").val($(this).val());
                $("#dsm5-sleep-one-error").hide();
            });
            $('#dsm5-memory-one').on("select2:select", function (e) {
                $("#memory-one-text").val($("#dsm5-memory-one :selected").text());
                $("#memory-one-score").val($(this).val());
                $("#dsm5-memory-one-error").hide();
            });
            $('#dsm5-behaviour-one').on("select2:select", function (e) {
                $("#behaviour-one-text").val($("#dsm5-behaviour-one :selected").text());
                $("#behaviour-one-score").val($(this).val());
                $("#dsm5-behaviour-one-error").hide();
            });
            $('#dsm5-behaviour-two').on("select2:select", function (e) {
                $("#behaviour-two-text").val($("#dsm5-behaviour-two :selected").text());
                $("#behaviour-two-score").val($(this).val());
                $("#dsm5-behaviour-two-error").hide();
            });
            $('#dsm5-dissociation-one').on("select2:select", function (e) {
                $("#dissociation-one-text").val($("#dsm5-dissociation-one :selected").text());
                $("#dissociation-one-score").val($(this).val());
                $("#dsm5-dissociation-one-error").hide();
            });
            $('#dsm5-personality-one').on("select2:select", function (e) {
                $("#personality-one-text").val($("#dsm5-personality-one :selected").text());
                $("#personality-one-score").val($(this).val());
                $("#dsm5-personality-one-error").hide();
            });
            $('#dsm5-personality-two').on("select2:select", function (e) {
                $("#personality-two-text").val($("#dsm5-personality-two :selected").text());
                $("#personality-two-score").val($(this).val());
                $("#dsm5-personality-two-error").hide();
            });
        });
    </script>
    <script>
        function dsm5_open_overlay() {
            document.getElementById("overlay").style.width = "100%";
        }

        function dsm5_close_overlay() {
            document.getElementById("overlay").style.width = "0%";
        }
    </script>
    <script>
        $('#abuse-yes').change(function () {
            if (this.checked)
                dsm5_abusemessage(),
                    dsm5_open_overlay(),
                    $('#abuse-yes .fas').addClass('question-yes'),
                    $('#abuse-no .fas').removeClass('question-no'),
                    document.getElementById("abuse-no").checked = false,
                    document.getElementById("abuse-no").removeAttribute("required", true);
            else
                $('#abuse-yes .fas').removeClass('question-yes'),
                    $(".error-notice").addClass("hidden"),
                    document.getElementById("abuse-no").attr("required", true);

        });
        $('#abuse-no').change(function () {
            if (this.checked)
                $('#abuse-no .fas').addClass('question-no'),
                    $('#abuse-yes .fas').removeClass('question-yes'),
                    document.getElementById("abuse-yes").checked = false,
                    document.getElementById("abuse-yes").removeAttribute("required", true),
                    $(".error-notice").addClass("hidden"),
                    $("#abuse-yes-error").hide();

            else
                $('#abuse-no .fas').removeClass('question-no'),
                    document.getElementById("abuse-yes").attr("required", true);

        });
    </script>
    <script>
        function dsm5_alertmessage(msg, myYes) {
            var a = $("#suicide-warning-dsm5");
            a.find(".message").text(msg);
            a.find(".yes").unbind().click(function () {
                a.hide(),
                    dsm5_close_overlay();

            });
            a.find(".yes").click(myYes);
            a.show();
            $("#dsm5-warning-close-x").focus();

        }
    </script>
    <script>
        function dsm5_abusemessage(msg, myYes) {
            var confirmBox = $("#abuse-warning-dsm5");
            confirmBox.find(".message").text(msg);
            confirmBox.find(".yes").unbind().click(function () {
                confirmBox.hide(),
                    dsm5_close_overlay();
                $("#substance-abuse-notice").removeClass("hidden");
            });
            confirmBox.find(".yes").click(myYes);
            confirmBox.show();
            $("#dsm5-alert-close-x").focus();
        }


        $('#abuse-no').change(function () {
            if (this.checked)
                $("#substance-abuse-notice").addClass("hidden");

        });
    </script>
    <script>
        $(function () {
            $(".select2").select2({ matcher: matchCustom, templateResult: formatCustom });
        })

        function stringMatch(term, candidate) {
            return candidate && candidate.toLowerCase().indexOf(term.toLowerCase()) >= 0;
        }

        function matchCustom(params, data) {
            // If there are no search terms, return all of the data
            if ($.trim(params.term) === '') {
                return data;
            }
            // Do not display the item if there is no 'text' property
            if (typeof data.text === 'undefined') {
                return null;
            }
            // Match text of option
            if (stringMatch(params.term, data.text)) {
                return data;
            }
            // Match attribute "data-foo" of option
            if (stringMatch(params.term, $(data.element).attr('subtext'))) {
                return data;
            }
            // Return `null` if the term should not be displayed
            return null;
        }

        function formatCustom(state) {
            return $(
                '<div><div>' + state.text + '</div><div class="subtext">'
                + $(state.element).attr('subtext')
                + '</div></div>'
            );
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#dsm5").submit(function (e) {
                if ($(this).valid()) {
                    $("#submit").attr("disabled", true);
                    return true;
                }
            });
        });
    </script>

}

