@model HaloCareCore.Models.ComsViewModel
@{
    ViewBag.Title = "Welcome SMS";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
<comment>
    <!-- 02 May 2019 -- HCare-621 -->
    <!-- 30 August 2021 -- HCare-1378 -->
</comment>
<style>
    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: #ffffff !important;
    }

    .select2-container {
        width: 975px !important;
        margin-left: 0px;
    }

    .select2-container--default .select2-selection--single {
        display: block !important;
        max-width: 1000px !important;
        width: 90% !important;
        max-height: 100px;
        height: auto;
        margin-left: 0px;
        padding: 4px 10px !important;
        line-height: 1.428571429;
        color: #003366;
        border-radius: 0px !important;
        border: none !important;
        border-bottom: 1px solid #e8e6e6 !important;
        background-color: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            border-radius: 0px !important;
            padding: 2px 8px !important;
            margin-bottom: 1px !important;
            margin-top: -5px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            margin-left: -104px !important;
            margin-top: -6px !important;
        }

    .error-alert {
        background-color: rgba(217, 48, 78, 0.2);
        padding: 10px 12px 10px 12px;
        border: 1px solid transparent !important;
        border-radius: 0px;
        font: 100 12px 'Open Sans', sans-serif;
        color: rgb(217, 48, 78);
        margin: 0 0 0 0;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -10px;
        width: 102%;
        vertical-align: middle;
        opacity: 1;
    }

        .error-alert span a {
            color: rgb(217, 48, 78);
            margin-top: -5px;
        }

    .textbox-control-date {
        display: block !important;
        max-width: 600px !important;
        width: 450px;
        max-height: 100px;
        height: 30px;
        margin-top: 16px;
        margin-left: 10px;
        padding: 6px 6px;
        line-height: 1.428571429;
        color: #003366;
        border-radius: 0px !important;
        border: none !important;
        border-bottom: 1px solid #e8e6e6 !important;
        background-color: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .disabled-field {
        width: 140px;
        background: rgba(0,0,0,0.70);
        color: #fff;
        font-size: 10px;
        font-weight: 100;
        text-align: center;
        border-radius: 2px;
        padding: 5px 5px;
        position: absolute;
        margin-top: -45px;
        margin-left: -78px;
        z-index: 100;
        -webkit-transition: opacity 0.5s;
        opacity: 0;
        transition: opacity 1.2s;
    }

    #df-icon {
        margin-top: 25%;
        margin-left: 70%;
    }

        #df-icon:hover ~ .disabled-field {
            opacity: 1;
        }

    .sms-tempalte:focus,
    .sms-tempalte:active {
        outline: none !important;
    }

    .welcome-dot {
        font-size: 8px;
        color: dodgerblue;
        float: left;
        margin-top: 12px;
        margin-left: 4px;
    }
</style>

<div id="sms-assignment-overlay" class="pop-up-overlay-sms"></div>
<div class="sms-assignment-modal">

    @using (Ajax.BeginForm("_WelcomeText", "Clinical", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divPath", OnSuccess = "hideModal(); alert('Saved');" }, new { id = "welcome-text-assignment" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.smsMessages.dependantID)

        <div class="col-md-12">
            <sup class="welcome-dot fas fa-square" title="welcome-sms"></sup>
            <button type="button" class="email-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="new-email-panel">
                <div class="hidden-fields">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.emailMessages.dependantID, new { htmlAttributes = new { @class = "form-control" } })
                    <input id="w-reference-id" name="w-reference-id" value="@ViewBag.ReferenceID" hidden />
                    <input id="w-task-id" name="w-task-id" value="@ViewBag.TaskID" hidden />
                    <input id="w-program-id" name="w-program-id" value="@ViewBag.ProgramID" hidden />
                    <input id="w-hidden-mobile" name="w-hidden-mobile" hidden />
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="margin-bottom: 0">
                        <div class="col-md-12">
                            <table class="table ne-table">
                                <tr>
                                    <td style="width: 8%; text-align: right!important">To</td>
                                    <td style="width: 2%"><span id="w-sms-validation-error"></span></td>
                                    <td style="width: 85%">
                                        @Html.TextBoxFor(model => model.smsMessages.cell_no, htmlAttributes: new { @class = "sms-control-new w-mobile-no", @autocomplete = "off", @required = "required", @onkeyup = "w_validation1()", @onchange = "w_validate_phone_number(this);", @onblur = "w_validation_sms()" })
                                    </td>
                                    <td style="width: 2%"></td>
                                </tr>
                                <tr>
                                    <td style="width: 8%; text-align: right!important">Template</td>
                                    <td style="width: 2%"><span id="w-sms-template-validation-error"></span></td>
                                    <td>
                                        <select id="w-sms-template" name="w-sms-template" class="form-control select2" style="width: 100%;" onchange="w_fill_template()" required>
                                            <option subtext="" selected="selected" disabled>Select</option>
                                            @foreach (var item in ViewBag.smsTemplate)
                                            {
                                                <option value="@item.Value" subtext=" ">@item.Text</option>
                                            }
                                        </select>
                                    </td>
                                    <td style="width: 2%"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div id="w-sms-message" class="form-group">
                        <div class="col-md-12" style="width: 100%!important">
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.smsMessages.message, htmlAttributes: new { @class = "sms-text-control", @disabled = "disabled", @id = "welcome-sms-message" })
                            </div>
                            <div class="col-md-1">
                                <i class="fas fa-question-circle information-icon icon-move" id="df-icon"></i>
                                <span class="disabled-field">This field has been disabled. Please select a template from the dropdown.</span>
                            </div>
                            <input type="hidden" name="w-sms-text-message" id="w-sms-text-message" />
                        </div>
                        <div class="form-group" style="margin-bottom: 0">
                            <div class="col-md-12">
                                <table class="table ne-table">
                                    <tr>
                                        <td style="width: 8%; text-align: right!important">Effective</td>
                                        <td style="width: 2%"><span id="ef-date-validation-error"></span></td>
                                        <td style="width: 85%">
                                            <input class="text-box single-line input-validation-error textbox-control-date" data-val="true" data-val-date="The field must be a date." id="smsMessages.effectiveDate" name="smsMessages.effectiveDate" type="date" aria-required="true" aria-describedby="DOB-error" aria-invalid="true" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" oninvalid="InvalidMsg(this);">
                                            @Html.ValidationMessageFor(model => model.smsMessages.effectiveDate, "", new { @class = "text-danger", @style = "font-size: 80%; margin-left: 1%" })
                                        </td>
                                        <td style="width: 2%"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="w-validation-sms-error" class="error-alert hidden" style="margin-top: 5px"></div>
            <div id="w-sms-template-error" class="error-alert hidden" style="margin-top: 5px"></div>
            <div id="w-sms-number-error" class="error-alert hidden" style="margin-top: 5px"></div>
        </div>

        <div class="col-md-12 email-info-panel">@ViewBag.MedicalAid • @ViewBag.Program</div>

        <div class="col-md-12 new-email-pop-footer">
            <button type="submit" class="popup-button hidden" id="w-sms-send">Send</button>
            <button type="button" class="popup-button" id="w-sms-button">Send</button>
        </div>
    }

</div>
@section Scripts {
    <script src="~/bundles/jqueryval"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () { $("#w-sms-template").select2({ multiple: false, placeholder: "Select", allowClear: false }); });
    </script>
    <script>
        $(function () {
            $(".select2").select2({ matcher: matchCustom, templateResult: formatCustom });
        })

        function stringMatch(term, candidate) {
            return candidate && candidate.toLowerCase().indexOf(term.toLowerCase()) >= 0;
        }

        function matchCustom(params, data) {
            if ($.trim(params.term) === '') {
                return data;
            }
            if (typeof data.text === 'undefined') {
                return null;
            }
            if (stringMatch(params.term, data.text)) {
                return data;
            }
            if (stringMatch(params.term, $(data.element).attr('subtext'))) {
                return data;
            }
            return null;
        }

        function formatCustom(state) {
            return $(
                '<div><div>' + state.text + '</div><div class="subtext">'
                + $(state.element).attr('subtext')
                + '</div></div>'
            );
        }
    </script>
    <script>
        function w_fill_template() {
            var stateId = $('#w-sms-template').val();
            $.ajax({
                url: '/Member/FillTemplate',
                type: "GET",
                dataType: "JSON",
                data: { tempId: stateId },
                success: function (options) {

                    $("#welcome-sms-message").val("");

                    $.each(options, function (i, option) {
                        $("#welcome-sms-message").val(option.title).val(option.template)
                        $("#w-sms-text-message").val(option.template)
                    });

                }
            });
        }
    </script>
    <script>
        //function w_validation_sms() {
        //    if ($('.w-mobile-no').val() == "" || $('.w-mobile-no').val() == null) {
        //        alert(1);
        //        $('#w-sms-validation-error').html('<span style="font-size: 8px; color: darkred;vertical-align: middle"><i class="fas fa-exclamation-triangle"></i></span>');
        //        $('#w-validation-sms-error').removeClass("hidden").html('&emsp;<span style="font-size: 8px;vertical-align: middle"> <i class="fas fa-exclamation-triangle"></i></span> <b>Invalid:</b> Mobile number is required.');
        //    }
        //    else {
        //        alert(2);
        //        $('#w-sms-validation-error').html('');
        //        $('#w-validation-sms-error').html('').addClass("hidden");
        //    }
        //};

        function w_validation1(input) {
            $('#w-mobile-number').html('');
            $("#error-invalid").addClass("hidden");
            $('#w-sms-validation-error').html('');
            $('#w-sms-number-error').addClass("hidden").html('');
            $('#w-validation-sms-error').addClass("hidden").html('');
            $('#w-sms-send').prop('disabled', false);
            $("#w-hidden-mobile").val('');
        }
        function w_validate_phone_number(input) {
            $('#w-mobile-number').html('');
            $("#w-error-invalid").addClass("hidden");
            $('#w-sms-validation-error').html('');
            $('#w-sms-number-error').addClass("hidden").html('');
            $('#w-validation-sms-error').addClass("hidden").html('');
            $('#w-sms-send').prop('disabled', false);
            $("#w-hidden-mobile").val('');

            var mobile = $('.w-mobile-no').val();
            if (/^[0-9\ - ]*$/.test(mobile) == false || mobile.indexOf(' ') >= 0 || $('.w-mobile-no').val().length > 12 || ($('.w-mobile-no').val().length < 10 && $('.w-mobile-no').val().length != 0) || $('.w-mobile-no').val().length == 11) {
                $('#w-sms-validation-error').html('<span style="font-size: 8px; color: darkred;vertical-align: middle"><i class="fas fa-exclamation-triangle"></i></span>');
                $('#w-sms-number-error').removeClass("hidden").html('&emsp;<span style="font-size: 8px;vertical-align: middle"> <i class="fas fa-exclamation-triangle"></i></span> <b>Invalid:</b> Invalid contact number.');
                $('#w-sms-send').prop('disabled', true);
                $("#w-hidden-mobile").val(mobile);
            }
            else if ($('.w-mobile-no').val() == "" || $('.w-mobile-no').val() == null) {
                $('#w-sms-validation-error').html('<span style="font-size: 8px; color: darkred;vertical-align: middle"><i class="fas fa-exclamation-triangle"></i></span>');
                $('#w-validation-sms-error').removeClass("hidden").html('&emsp;<span style="font-size: 8px;vertical-align: middle"> <i class="fas fa-exclamation-triangle"></i></span> <b>Invalid:</b> Mobile number is required.');
            }
            else {
                $('#w-sms-validation-error').html('');
                $('#w-validation-sms-error').html('').addClass("hidden");
            }
        }

        $(function () {
            $(document).mousemove(function () {
                $('#w-mobile-number').html('');
                $("#w-error-invalid").addClass("hidden");
                $('#w-sms-validation-error').html('');
                $('#w-sms-send').prop('disabled', false);
                $("#w-hidden-mobile").val('');

                var mobile = $('.w-mobile-no').val();
                if (/^[0-9\ - ]*$/.test(mobile) == false || mobile.indexOf(' ') >= 0 || $('.w-mobile-no').val().length > 12 || ($('.w-mobile-no').val().length < 10 && $('.w-mobile-no').val().length != 0) || $('.w-mobile-no').val().length == 11) {
                //if (/^[0-9\ - ]*$/.test(mobile) == false || mobile.indexOf(' ') >= 0 || $('.w-mobile-no').val().length > 12 || $('.w-mobile-no').val().length < 10 || $('.w-mobile-no').val().length == 11) {
                    $('#w-sms-validation-error').html('<span style="font-size: 8px; color: darkred;vertical-align: middle"><i class="fas fa-exclamation-triangle"></i></span>');
                    $('#w-sms-number-error').removeClass("hidden").html('&emsp;<span style="font-size: 8px;vertical-align: middle"> <i class="fas fa-exclamation-triangle"></i></span> <b>Invalid:</b> Invalid contact number.');
                    $('#w-sms-send').prop('disabled', true);
                    $("#w-hidden-mobile").val(mobile);
                }
                else if ($('.w-mobile-no').val() == "" || $('.w-mobile-no').val() == null) {
                    $('#w-sms-validation-error').html('<span style="font-size: 8px; color: darkred;vertical-align: middle"><i class="fas fa-exclamation-triangle"></i></span>');
                    $('#w-validation-sms-error').removeClass("hidden").html('&emsp;<span style="font-size: 8px;vertical-align: middle"> <i class="fas fa-exclamation-triangle"></i></span> <b>Invalid:</b> Mobile number is required.');
                }
                else {
                    $('#w-sms-validation-error').html('');
                    $('#w-validation-sms-error').html('').addClass("hidden");
                }

                if ($('.w-mobile-no').val().length == 0) {
                    $('#w-mobile-number').html('');
                    $("#w-error-invalid").addClass("hidden");
                    $('#w-sms-send').prop('disabled', true);
                    $("#w-hidden-mobile").val(mobile);
                }

            });
        })

        $(document).ready(function () {
            $('#w-sms-send').click(function () {
                if ($('.w-mobile-no').length() == 0) {
                    $('#w-sms-validation-error').html('<span style="font-size: 8px; color: darkred;vertical-align: middle"><i class="fas fa-exclamation-triangle"></i></span>');
                    $('#w-validation-sms-error').removeClass("hidden").html('&emsp;<span style="font-size: 8px;vertical-align: middle"> <i class="fas fa-exclamation-triangle"></i></span> <b>Invalid:</b> Mobile number is required.');
                    $('#w-smsMessages_cell_no').focus();
                }
                else {
                    $("#w-email-overlay").fadeOut(150);
                    $("#w-new-sms-popup").fadeOut(250);
                }
            });

            $(".w-sms-close").click(function () {
                $("#w-email-overlay").fadeOut(150);
                $("#w-new-sms-popup").fadeOut(250);
            });

            $('#w-sms-button').click(function () {
                if ($('#w-sms-template').val() == null) {
                    $('#w-sms-template-validation-error').html('<span style="font-size: 8px; color: darkred;vertical-align: middle"><i class="fas fa-exclamation-triangle"></i></span>');
                    $('#w-sms-template-error').removeClass("hidden").html('&emsp;<span style="font-size: 8px;vertical-align: middle"> <i class="fas fa-exclamation-triangle"></i></span> <b>Invalid:</b> Please select a template from the dropdown menu.');
                }
                else if ($('#w-hidden-mobile').val().length > 0) {
                    $('#w-sms-validation-error').html('<span style="font-size: 8px; color: darkred;vertical-align: middle"><i class="fas fa-exclamation-triangle"></i></span>');
                    $('#w-sms-template-error').removeClass("hidden").html('&emsp;<span style="font-size: 8px;vertical-align: middle"> <i class="fas fa-exclamation-triangle"></i></span> <b>Invalid:</b> Please review the contact number assigned.');
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#w-sms-send').prop('disabled', true);
            $('#w-sms-template').on("select2:select", function (e) {
                var number = $('#w-hidden-mobile').val();
                if ($(this).val() > 0 && (number == null || number == "")) {
                    $('#w-sms-message').show();
                    $('#w-sms-send').prop('disabled', false);
                    $('#w-sms-button').addClass('hidden');
                    $('#w-sms-send').removeClass('hidden');
                    $('#w-sms-template-error').html('').addClass("hidden");
                    $('#w-sms-template-validation-error').html('');
                }
                else if ($(this).val() > 0 && (number != null || number != "")) {
                    if ($(this).val() > 0) {
                        $('#w-sms-message').show();
                        $('#w-sms-button').addClass('hidden');
                        $('#w-sms-send').removeClass('hidden');
                        $('#w-sms-template-error').html('').addClass("hidden");
                        $('#w-sms-template-validation-error').html('');
                    }
                }
            });
        });
    </script>


}
