@model IEnumerable<HaloCareCore.Models.OpenAssignments>

@{
    ViewBag.Title = "ClosedAssignments";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}



<div class="topBar_reports">
    <h2>Closed Assignments</h2>
    <img src="~/Content/Images/memberProfile/topBar Icons/openAssignments.png" style="width: 2.5%; margin-top: 0.1%" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row contentBlock_pathology">
    <div class="indexSearch" style="margin-top:-4%!important">
        <label for="tableSearch" class="control-label"></label> <input type="text" class="form-control-search" id="search" onkeyup="myFunction()" placeholder="Search..." style="margin-top: 3.4%; margin-left: 88%; position: absolute" />
        <div class="searchIcon">
            <img src="~/Content/Images/memberProfile/Search_gray.png" style="width: 0.8%!important; margin-left: 96.5%; margin-top: 4%; position: absolute" />
        </div>
    </div>

    <h4 style="color: #003366; margin-top: -2%">Closed <span style="color: #0081b3">Assignments</span></h4>


    <hr class="fancyruler">

    <table class="table" id="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.assignmentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.assignmentEffective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dependantCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.membershipNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medicalScheme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patientStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.labName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.assignmentEffective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.assignmentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assignmentEffective)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dependantCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.membershipNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.patientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medicalScheme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.patientStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.labName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assignmentEffective)
                </td>
                <td class="scriptCheck">

                    @if (item.Active)
                    {
                        <img src="~/Content/Images/Navigation/5. Reports/reportCheck.png" />
                    }
                    else
                    {
                        <img src="~/Content/Images/Navigation/5. Reports/reportCheck_x.png" />
                    }

                </td>
                <td>
                    @Html.RenderActionLink("Edit", "EditAssignment", new { id = item.assignmentID }) |
                    @Html.RenderActionLink("Details", "AssignmentDetails", new { id = item.assignmentID }) 
                </td>
            </tr>
        }

    </table>

</div>
<br />
<br />
<br />

<div class="backButton_image">
    <span id="surround" class="go_back">
        <span id="initial"><img src="~/Content/Images/memberProfile/Page Icons/back_gray.png" /></span>
        <span id="onhover"><img src="~/Content/Images/memberProfile/Page Icons/back_blue.png" /></span>
    </span>
</div>

<!-- Search -->
@section scripts{
    <script>

        var $rows = $('#table tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });


    </script>
}