
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<style>
    body {
        background-image: url('../../Content/Images/Backgrounds/homePage/homePage_one.png');
        background-size: 120%;
    }
</style>

<!--topBar_Icon & Heading-->
<div class="topBar_reports">
    <h2>Clinical Management</h2>
    <img src="~/Content/Images/memberProfile/topBar Icons/clinicalManagement.png" style="width: 3%; margin-top: 0.5% " />
</div>

<br />
<br />
<br />
<br />


<div class="container col-md-12">

    <h2 style="color: #003366; font-size: 250%; text-align: center; margin-bottom: 10%"><i>Clinical<span style="color: #0081b3"> Management</span></i></h2>

    <div class="row AdminSolutions clinicalManagement" style="margin-bottom: 0%">
        <div class="col-md-4"></div>


        <!--scriptManagement-->
        <div class="col-md-6">
            <img src="~/Content/Images/Navigation/4. Administration/Script.png" style="width: 22%; margin: auto; display: block; padding-left: 10%; margin-left: 20%; margin-top: 0%;margin-bottom: 5%" />
            <ul>
                <h2 style="color: #003366; font-size: 130%; text-align: center; margin-bottom: 5%; margin-left: -40%"><i>Member<span style="color: #0081b3"> Management</span></i></h2>

                <p class="adminlink" style="text-align: center; font-size: 85%; margin-left: -19%">@Html.RenderActionLink("List Outstanding Scripts", "Outstanding", "Scripts")</p>
                <p class="adminlink" style="text-align: center; font-size: 85%; margin-left: -19%">@Html.RenderActionLink("List Oustanding Pathology", "OutstandingPathologies", "Clinical")</p>
                <!--<p class="adminlink" style="text-align: center; font-size: 85%; margin-left: -19%">@Html.RenderActionLink("List Oustanding Authorisations", "OutstandingAuthorise", "Scripts")</p>-->
            </ul>
        </div>

        <ul>


            <!--<p class="adminlink" style="text-align: center; font-size: 85%">@Html.RenderActionLink("SMS Report", "#", "#")</p>-->
        </ul>
    </div>
</div>

<div class="col-md-2"></div>
    </div>
</div>


<footer>
    <img src="~/Content/Images/memberProfile/Page Icons/clinicalx.png" style="position:fixed; bottom:3.5%; right: 0; left: 0; margin-left: 96%; width: 1.5%">
</footer>


<footer class="backButton_image" style="position: fixed; bottom: 50px; left: 0; right: 0; width: 80%; margin-left: 10.5%">
    <a href="@Url.Action("Index", "Home")"
        <span id="surround" >
            <span id="initial"><img src="~/Content/Images/memberProfile/Page Icons/back_gray.png" /></span>
            <span id="onhover"><img src="~/Content/Images/memberProfile/Page Icons/back_blue.png" /></span>
        </span>
    </a>
</footer>







<!--Case Managers-->
<!--

<div class="col-md-4">
    <img src="~/Content/Images/Navigation/3. clinicalManagement/iCaseManager.png" style="width: 28%; margin: auto; margin-left: 42%; display: block; margin-bottom: 9%" />
    <ul>
        <h2 style="color: #003366; font-size: 130%; text-align: center; margin-bottom: 8%"><i>Case<span style="color: #0081b3"> Management</span></i></h2>

        <p class="adminlink" style="text-align: center; font-size: 90%">@Html.RenderActionLink("List Case Managers", "Index", "CaseManager")</p>
        <p class="adminlink" style="text-align: center; font-size: 90%">@Html.RenderActionLink("Case Manager Production Report", "Report", "CaseManager")</p>
    </ul>
</div>
    -->
