@model HaloCareCore.Models.ComsViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "AddAddress";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<comment>
    <!--
        21 May 2019 -- HCare-598(Patient Edit and Add contact details - Add the name of patient to this screen)
        Added the patient profile bar to the Add & Edit Contact details view as well as the Add & Edit Address details view.
    -->
</comment>

<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>

<div class="fullPanel_Container">
    <div class="profilePanel_pathology">
        <!--breadCrumbs-->
        <ul class="breadcrumbs" style="margin-top: -1%; margin-bottom: 2%; margin-left: -1%">
            <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
            <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
            <li><a class="go_back">Patient</a></li>
            <li><a href="#">Add contact</a></li>
        </ul>

        <!--navCollection-->
        <div class="navButtons">
            @Html.Partial("_navCollection")
        </div>

        <!--profileInformation-->
        <div>
            @Html.Action("_profileBar_edit", "Member", new { DependentID = Context.Request.Query["DependentID"], pro = Context.Request.Query["pro"] })
        </div>
    </div>
    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-title_patientProfile">
                <span><i class="fa fa-map-marker-alt"></i></span>&emsp; Address information
            </h1>
        </div>
        <div class="pull-right title">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
            <h1 class="site-title_userID pull-right">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
                {
                    <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
                }
            </h1>
            <h1 class="site-waffleIcon pull-right">
                <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
            </h1>
        </div>
    </nav>

    <div class="row assignmentOverview_container">

        <div class="form-horizontal editForm">
            <h4 class="tableHeading">Add address</h4>
            <hr class="fancyruler">
            <br />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @*@Html.Hidden("depId", null);*@
                @Html.Hidden("depId", (object)ViewBag.DependantID)

                <div class="form-horizontal editForm">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.memberInformation.Address.line1, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.memberInformation.Address.line1, new { htmlAttributes = new { @class = "infoBox_editMember" } })
                            @Html.ValidationMessageFor(model => model.memberInformation.Address.line1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.memberInformation.Address.line2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.memberInformation.Address.line2, new { htmlAttributes = new { @class = "infoBox_editMember" } })
                            @Html.ValidationMessageFor(model => model.memberInformation.Address.line2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.memberInformation.Address.line3, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.memberInformation.Address.line3, new { htmlAttributes = new { @class = "infoBox_editMember" } })
                            @Html.ValidationMessageFor(model => model.memberInformation.Address.line3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.memberInformation.Address.city, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.memberInformation.Address.city, new { htmlAttributes = new { @class = "infoBox_editMember" } })
                            @Html.ValidationMessageFor(model => model.memberInformation.Address.city, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.memberInformation.Address.province, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.memberInformation.Address.province, new { htmlAttributes = new { @class = "infoBox_editMember" } })
                            @Html.ValidationMessageFor(model => model.memberInformation.Address.province, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.memberInformation.Address.zip, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.memberInformation.Address.zip, new { htmlAttributes = new { @class = "infoBox_editMember" } })
                            @Html.ValidationMessageFor(model => model.memberInformation.Address.zip, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="fixedBack" style="margin-left: 44%">
                        <input value="Back" class="btn buttonRound_formBack go_back" style="width: 15%!important" />
                        <input type="submit" value="Submit" class="btn buttonRound_formCreate addAddress" style="width: 15%!important" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="js/jquery.tablesorter.min.js"></script>

@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <!--Page redirect-->
    <script>
        $(document).ready(function () {
            $(".addAddress").on("click", function () {
                localStorage.setItem("addAddress", "clicked");
            });
        });
    </script>
}

