@model HaloCareCore.Models.Management.PatientManagementStatusHistory
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "DetailsManagementStatus";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<comment>
    <!--
        24 July 2019 -- HCare-763 (Management status - Inactive status view and details view addition)
        Added Details view to show the details of history linked to the patient management status. Also added the Gray color to the entry should it be made inactive in order to distinguish that there is something different.

    -->
</comment>

<style>
    body {
        background-color: #f9f9fc !important;
    }

    .infoBox_coMorbidCondition {
        max-width: 500px !important;
        width: 400px;
        max-height: 100px;
        height: 30px;
        margin-top: -0.5% !important;
        margin-left: -0.5% !important;
        /*padding: 6px 6px;*/
        line-height: 1.428571429;
        color: #003366;
        border: 1px solid transparent !important;
        -webkit-box-shadow: inset 0 1px 1px transparent !important;
        box-shadow: 1px 1px 1px 0px transparent !important;
    }

    .customDropDown {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
</style>

<div class="fullScreen_container zero-padding">

    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-title_patientProfile">
                <span><img src="~/Content/Images/memberProfile/topBar Icons/medicalStatus.png" /></span>&emsp; Managed care
            </h1>
        </div>
        <div class="pull-right title">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
            <h1 class="site-title_userID pull-right">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
                {
                    <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
                }
            </h1>
            <h1 class="site-waffleIcon pull-right">
                <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
            </h1>
        </div>
    </nav>

    <!--breadCrumbs-->
    <ul class="breadcrumbs_fullScreens">
        <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
        <li><a href="@Url.Action("patientDashboard", "Member", new {DependentID = Model.dependantId})">Patient</a></li>
        <li><a class="go_back">History</a></li>
        <li><a href="#">Detail</a></li>
    </ul>

    <!--navCollection-->
    <div class="navCollection_fullScreens">
        @Html.Partial("_navCollection")
    </div>

    <div style="margin-bottom: 1%"></div>

    <div class="row">
        <h4 class="tableHeading">Management status detail</h4>
        <hr class="fancyruler">
        <br />
        <br />
        <div style="margin-left: 5%">
            <dl class="dl-horizontal editForm">
                <dt>
                    @Html.DisplayName("Management status")
                </dt>

                <dd>
                    @Html.DropDownList("StatusCode", null, Model.managementStatusCode.ToString(), htmlAttributes: new { @class = "infoBox_coMorbidCondition customDropDown", @disabled = "disabled" })

                </dd>


                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.effectiveDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.effectiveDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.endDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.endDate)
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.createdBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.createdDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdDate)
                </dd>

                <br />
                <hr class="fancyruler" />

                @if (Model.modifiedBy != null)
                {

                    <dt>
                        @Html.DisplayNameFor(model => model.modifiedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.modifiedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.modifiedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.modifiedDate)
                    </dd>

                    <br />
                    <hr class="fancyruler" />

                }

                <dt>
                    @Html.DisplayNameFor(model => model.active)
                </dt>

                <dd class="activeCheck">
                    @if (Model.active)
                    {
                        <img src="~/Content/Images/Icons/Administration/AssignmentTrue.png" style="width: 20%; margin-left: -1%!important" />
                    }
                    else
                    {
                        <img src="~/Content/Images/Icons/Administration/AssignmentFalse.png" style="width: 20%; margin-left: -1%!important" />
                    }
                </dd>

                @*<br />
                    <hr class="fancyruler" />*@

                @*<dt>
                        @Html.DisplayName("Sent to CL")
                    </dt>

                    <dd class="activeCheck">
                        @if (Model.sentToCl)
                        {
                            <img src="~/Content/Images/Icons/Administration/AssignmentTrue.png" style="width: 20%; margin-left: -1%!important" />
                        }
                        else
                        {
                            <img src="~/Content/Images/Icons/Administration/AssignmentFalse.png" style="width: 20%; margin-left: -1%!important" />
                        }
                    </dd>*@

            </dl>
            <div class="fixedBack" style="margin-left: 40%">
                <input value="Back" class="btn buttonRound_formBack go_back" style="width: 15%!important" />
                <a href="@Url.Action("EditManagementStatus", "Member", new { id = Model.id, pro = Context.Request.Query["pro"] })" value="Edit" class="btn buttonRound_formEdit" style="width: 15%!important">Edit</a>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

}
