@model HaloCareCore.Models.Management.MedicationHistory
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "DetailsMedication";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<comment>
    <!--
        14 February 2019 -- HCare-607 (Halocare Bestmed Diabetes enrollment questionnaire)
        Created to allow user to view details related to Questionnaire Medication history entry - BM
    -->
</comment>

<style>
    body {
        background-color: #f9f9fc !important;
    }

    .pulse {
        animation: pulse 2s ease infinite;
    }
</style>


<div class="fullPanel_Container">
    <div class="profilePanel_pathology">
        <!--breadCrumbs-->
        <ul class="breadcrumbs" style="margin-top: -1%; margin-bottom: 2%; margin-left: -1%">
            <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
            <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
            <li><a class="go_back">Patient</a></li>
            <li><a href="#">Patient diagnosis</a></li>
        </ul>

        <!--navCollection-->
        <div class="navButtons">
            @Html.Partial("_navCollection")
        </div>

        <!--profileInformation-->
        <div>
            @Html.RenderAction("_profileBar_edit", "Member", new { DependentID = Model.dependantId })
        </div>
    </div>

    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-title_patientProfile">
                <span><img src="~/Content/Images/memberProfile/topBar Icons/Medication_one.png" /></span>&emsp; Medication history
            </h1>
        </div>
        <div class="pull-right title">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
            <h1 class="site-title_userID pull-right">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
                {
                    <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
                }
            </h1>
            <h1 class="site-waffleIcon pull-right">
                <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
            </h1>
        </div>
    </nav>

    <div style="margin-bottom: 1%"></div>

    <div class="row assignmentOverview_container">

        <h4 class="summaryHeading">Medication detail</h4>
        <hr class="fancyruler">
        <br />
        <br />
        <div style="margin-left: 2%">
            <dl class="dl-horizontal editForm">
                <dt>
                    @Html.DisplayNameFor(model => model.nappiCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nappiCode)
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.productName)
                </dt>

                <dd>
                    @if (Model.productName.ToString() == "Follow up")
                    {
                        <span class="pulse" style="color: rgba(204, 0, 0, 0.70)!important; font-size: 14px!important"><i class="fas fa-info-circle pulse" style="color: rgba(204, 0, 0, 0.70)!important"></i> Follow up required!</span>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.productName)
                    }
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.directions)
                </dt>

                <dd>
                    @if (Model.directions.ToString() == "Follow up")
                    {
                        <span class="pulse" style="color: rgba(204, 0, 0, 0.70)!important; font-size: 14px!important"><i class="fas fa-info-circle pulse" style="color: rgba(204, 0, 0, 0.70)!important"></i> Follow up required!</span>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.directions)
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.comment)
                </dt>

                <dd>
                    @if (Model.comment.ToString() == "Follow up")
                    {
                        <span class="pulse" style="color: rgba(204, 0, 0, 0.70)!important; font-size: 14px!important"><i class="fas fa-info-circle pulse" style="color: rgba(204, 0, 0, 0.70)!important"></i> Follow up required!</span>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.comment)
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.treatmentNaive)
                </dt>

                <dd class="detailsCheck">
                    @if (Model.treatmentNaive == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.startDate)
                </dt>

                <dd>
                    @if (Model.startDate == null)
                    {
                        <p> - </p>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.startDate)
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.endDate)
                </dt>

                <dd>
                    @if (Model.endDate == null)
                    {
                        <p> - </p>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.endDate)
                    }
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.createdBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.createdDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdDate)
                </dd>

                <br />
                <hr class="fancyruler" />

                @if (Model.modifiedBy != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.modifiedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.modifiedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.modifieddate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.modifieddate)
                    </dd>

                    <br />
                    <hr class="fancyruler" />

                }

                <dt>
                    @Html.DisplayNameFor(model => model.programType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.programType)
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.followUp)
                </dt>

                <dd class="detailsCheck">
                    @if (Model.followUp == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.active)
                </dt>

                <dd class="detailsCheck">
                    @if (Model.active == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

            </dl>

            <div class="fixedBack" style="margin-left: 40%">
                <input value="Back" class="btn buttonRound_formBack go_back" style="width: 15%!important" />
                <a href="@Url.Action("EditMedication", "Member", new { id = Model.Id})" value="Edit" class="btn buttonRound_formEdit" style="width: 15%!important">Edit</a>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

}

