@model HaloCareCore.Models.Patient.DoctorReferral
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Doctor referral";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<comment>
    <!--
    12 August 2020 -- HCare-1136(PRJ-36 - Mental Health Disease: DOCTOR REFERRAL TAB)
        -->
</comment>
<style>
    body {
        background-color: #f9f9fc !important;
    }

    .field-validation-error:before {
        font-family: FontAwesome;
        content: "\f06a\00a0";
    }

    .warning-alert {
        width: 100%;
        margin: 0 auto;
        background-color: #fff3cd;
        padding: 10px;
        border-left-color: #FEAF20 !important;
        border: 1px solid transparent;
        border-left-width: 5px;
        border-radius: 3px;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        margin: 0 0 5px 0;
    }

        .warning-alert span {
            color: #FEAF20;
            text-align: center;
        }

    .textbox-control-date {
        display: block !important;
        max-width: 600px !important;
        width: 350px;
        max-height: 100px;
        height: 30px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 6px 6px;
        line-height: 1.428571429;
        color: #003366;
        border-radius: 0px !important;
        border: none !important;
        border-bottom: 1px solid #e8e6e6 !important;
        background-color: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    textarea#Comment {
        display: block;
        max-width: 1500px !important;
        width: 90% !important;
        max-height: 200px !important;
        height: auto !important;
        margin-top: 10px;
        margin-left: 10px;
        display: block;
        padding: 6px 6px !important;
        line-height: 1.428571429 !important;
        color: #003366 !important;
        border-radius: 0px !important;
        border: none !important;
        border-bottom: 1px solid #e8e6e6 !important;
        background-color: transparent !important;
        padding-left: 5px !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition: none !important;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        outline: none !important;
    }
</style>
<javascript>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</javascript>

<nav id="global-nav" class="nav">
    <div class="pull-left title">
        <h1 class="site-title_patientProfile">
            <span><img src="~/Content/Images/_2020/icons/banner-icon/dr-referral-white.png" /></span>&emsp;  Referrals
        </h1>
    </div>
    <div class="pull-right title">
        <h1 class="site-title_userID pull-right">
            <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
        </h1>
        <h1 class="site-title_userID pull-right">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
            {
                <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
            }
        </h1>
        <h1 class="site-waffleIcon pull-right">
            <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
        </h1>
    </div>
</nav>
<div class="dashboardContainer zero-padding">
    <div class="patientDashboard_View">
        <ul class="breadcrumbs_patientDashboard">
            <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
            <li><a href="@Url.Action("Index", "Home", new { })">Home</a></li>
            <li><a href="@Url.Action("patientClinical", "Member", new { DependentID = Context.Request.Query["DependentID"] })">Patient</a></li>
            <li><a href="#">@ViewBag.Title</a></li>
        </ul>

        @Html.Partial("_navSlider_blank", new { DependentID = Context.Request.Query["DependentID"] })

        <div class="navCollection_patientDashboard">
            @Html.Partial("_navCollection")
        </div>

        <div class="profileBar">
            @Html.Action("_profileBar_edit", "Member", new { DependentID = Model.DependantID })
        </div>
    </div>
    <br />
    <div class="profilebar-spacer"></div>

    <div id="general-pregnant-panel" class="patientDashboard_container">
        <div class="col-md-12 row">
            <h4 class="summaryHeading">Edit</h4>
            <hr class="fancyruler">
            <div class="heading-spacer"></div>
        </div>

        @using (Html.BeginForm("DoctorReferral_Edit", "Member", FormMethod.Post, new { id = "dr-referral-edit" }))
        {
            <div class="hidden-fields">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.DependantID)
                @Html.Hidden("programName", (object)ViewBag.program)
                @Html.HiddenFor(model => model.AssignmentID)
                @Html.HiddenFor(model => model.TaskID)
            </div>
            <div class="form-horizontal">
                <table id="dr-referral-table" class="table mental-health-table">
                    <tr>
                        <td style="width: 5%"></td>
                        <td style="width: 10%; padding-top: 25px!important; text-align: right!important;font-weight: bolder">
                            Referral date
                        </td>
                        <td style="width: 85%">
                            <input class="text-box single-line input-validation-error textbox-control-date" data-val="true" data-val-date="The field must be a date." id="referral-date" name="referral-date" type="date" aria-required="true" aria-describedby="DOB-error" aria-invalid="true" value="@string.Format("{0:yyyy-MM-dd}", Model.ReferralDate)" min="@DateTime.Now.ToString("1900-01-01")" max="@DateTime.Now.ToString("yyyy-MM-dd")" required oninvalid="InvalidMsg(this);">
                            @Html.ValidationMessage("referral-date", "", new { @class = "text-danger", @style = "font-size: 90%; margin-left: 2%" })
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 5%"></td>
                        <td style="width: 10%; padding-top: 25px!important; text-align: right!important;font-weight: bolder">
                            Referral to
                        </td>
                        <td>
                            @Html.DropDownList("referalID", null, "", htmlAttributes: new { @class = "infoBox_editMemberl" })
                        </td>
                    </tr>
                    @if (!Model.referralFroms.All(x => string.IsNullOrWhiteSpace(x)))
                    {
                        <tr>
                            <td style="width: 5%"></td>
                            <td style="width: 10%; padding-top: 25px!important; text-align: right!important;font-weight: bolder">
                                Referral from
                            </td>
                            <td>
                                @Html.DropDownList("referalFrom", null, "", htmlAttributes: new { @class = "infoBox_editMember" })
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="width: 5%"></td>
                        <td style="width: 10%; padding-top: 25px!important; text-align: right!important;font-weight: bolder">
                            Comments
                        </td>
                        <td style="width: 85%">
                            @Html.TextAreaFor(model => model.Comment, new { placeholder = "Your comment here...", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger", @style = "font-size: 90%; margin-left: 2%" })
                        </td>
                    </tr>
                </table>
                <div class="col-md-12 row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="pull-right createForm">
                            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-9" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Active)
                                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.LabelFor(model => model.FollowUp, htmlAttributes: new { @class = "control-label col-md-9" })
                            <div class="col-md-3">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.FollowUp)
                                    @Html.ValidationMessageFor(model => model.FollowUp, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div style="text-align: center!important">
                        <input id="submit" type="submit" value="Save" class="btn create-button" onclick="storageKey()" style="width: 15%" /><br />
                        <input id="back" value="Back" class="btn reset-button go_back" onclick="backKey()" style="width: 15%!important" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/bundles/jqueryval"></script>
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <script>
        function backKey() {
            localStorage.clear();
            localStorage.removeItem("back_drReferral");
            localStorage.setItem("back_drReferral", Date.now());
        }
        function storageKey() {
            localStorage.setItem("edit_drReferral", Date.now());
        }
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            //$('#referalID').find(':selected');
            $("#referalID").select2({ multiple: false, placeholder: "--Select--", allowClear: true });
            $("#referalFrom").select2({ multiple: false, placeholder: "--Select--", allowClear: true });

        });
    </script>
}
