@model HaloCareCore.Models.Questionnaire.QuestionnaireOther
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<comment>
    <!--
        04 June 2020 -- HCare-968(Pregnancy information Questionnaire et al)
        Request is to split Pregnancy out of the General/Other section of Patient Clinical/Patient History/General panel.
        I have used jquery in this view to show the Pregnancy related data only if the user clicks on the details button in the pregnancy panel and this will show the General data if the user clicks on the details button in the General panel.
    -->
</comment>
<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>

<!---------------------------------------------------------------------- header ---------------------------------------------------------------------->
<nav id="global-nav" class="nav">
    <div class="pull-left title">
        <h1 id="general-other-header" class="site-title_patientProfile hidden">
            <span><img src="~/Content/Images/_2020/icons/banner-icon/other-white.png" /></span>&emsp; Other
        </h1>
        <h1 id="general-pregnant-header" class="site-title_patientProfile hidden">
            <span><img src="~/Content/Images/_2020/icons/banner-icon/other-white.png" /></span>&emsp; Pregnant
        </h1>
    </div>
    <div class="pull-right title">
        <h1 class="site-title_userID pull-right">
            <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
        </h1>
        <h1 class="site-title_userID pull-right">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
            {
                <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
            }
        </h1>
        <h1 class="site-waffleIcon pull-right">
            <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
        </h1>
    </div>
</nav>

<div class="dashboardContainer zero-padding">
    <div class="patientDashboard_View">
        <!------------------------------------------------------------------------ bread-crumbs ------------------------------------------------------------------------>
        <ul class="breadcrumbs_patientDashboard">
            <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
            <li><a href="@Url.Action("Index", "Home", new { })">Home</a></li>
            <li><a href="@Url.Action("patientClinical", "Member", new { DependentID = Context.Request.Query["DependentID"] })">Patient</a></li>
            <li id="bc-other" class="hidden"><a href="#">Other</a></li>
            <li id="bc-pregnant" class="hidden"><a href="#">Pregnant</a></li>
        </ul>

        <!--------------------------------------------------------------------- left-navigation-bar --------------------------------------------------------------------->
        @Html.Partial("_navSlider", new { DependentID = Context.Request.Query["DependentID"] })

        <!----------------------------------------------------------------------- nav-collection ----------------------------------------------------------------------->
        <div class="navCollection_patientDashboard">
            @Html.Partial("_navCollection")
        </div>

        <!----------------------------------------------------------------------- patient-profile ----------------------------------------------------------------------->
        <div class="profileBar">
            @Html.Action("_profileBar_edit", "Member", new { DependentID = Model.dependentID })
        </div>
    </div>
    <br />
    <!----------------------------------------------------------------------- form ----------------------------------------------------------------------->
    <div class="profilebar-spacer"></div>
    <div class="patientDashboard_container">
        <!-- general-other-section -->
        <div id="general-other-panel" class="hidden">
            @{ ViewBag.Title = "Other";}
            <div class="col-md-12 row">
                <div class="heading-spacer"></div>
                <div class="col-md-6"><div class="page-heading">Details</div></div>
                <hr class="heading-ruler">
            </div>
            <div class="col-md-12">
                <div class="row">
                    <table class="table details-table" id="other-details">
                        <tbody>
                            <tr>
                                <td>Occupation</td>
                                <td>@Html.DisplayFor(model => model.occupation)</td>
                            </tr>
                            <tr>
                                <td class="row-heading">Shift worker</td>
                                <td class="row-information"><span class="@(Model.shiftWorkCheck == true ? "check-yes far fa-check-circle" : "check-no far fa-times-circle")"></span>@((Model.shiftWorkCheck == true) ? " Yes" : " No")</td>
                            </tr>
                            @if (Model.shiftWorkCheck == true)
                            {
                                <tr>
                                    <td class="row-heading">Shift worker</td>
                                    <td class="row-information">@Html.DisplayFor(model => model.shiftWorker)</td>
                                </tr>
                            }
                            <tr>
                                <td class="row-heading">Lypohypertophy</td>
                                <td class="row-information"><span class="@(Model.lypohypertrophyCheck == true ? "check-yes far fa-check-circle" : "check-no far fa-times-circle")"></span>@((Model.lypohypertrophyCheck == true) ? " Yes" : " No")</td>
                            </tr>
                            @if (Model.lypohypertrophyCheck == true)
                            {
                                <tr>
                                    <td class="row-heading">Comment</td>
                                    <td class="row-information">@(!String.IsNullOrEmpty(Model.lypohypertrophy) ? @Model.lypohypertrophy : "-")</td>
                                </tr>
                                <tr>
                                    <td class="row-heading">Diagnosis date</td>
                                    <td class="row-information">@(!String.IsNullOrEmpty(Model.lypohypertrophyDate.ToString()) ? @Model.lypohypertrophyDate.ToString() : "-")</td>
                                </tr>
                            }
                            <tr>
                                <td class="row-heading">Recreational drug use</td>
                                <td class="row-information"><span class="@(Model.recDrugs == true ? "check-yes far fa-check-circle" : "check-no far fa-times-circle")"></span>@((Model.recDrugs == true) ? " Yes" : " No")</td>
                            </tr>
                            @if (Model.recDrugs == true)
                            {
                                <tr>
                                    <td class="row-heading">Diagnosis date</td>
                                    <td class="row-information">@(!String.IsNullOrEmpty(Model.recDrugsLastUsed.ToString()) ? @Model.recDrugsLastUsed.ToString() : "-")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- general-pregnant-section -->
        <div id="general-pregnant-panel" class="hidden">
            @{ ViewBag.Title = "Pregnant";}
            <div class="col-md-12 row">
                <div class="heading-spacer"></div>
                <div class="col-md-6"><div class="page-heading">Details</div></div>
                <hr class="heading-ruler">
            </div>
            <div class="col-md-6 row"></div>
            <div class="col-md-12">
                <div class="row">
                    <table class="table details-table" id="pregnant-details">
                        <tbody>
                            <tr>
                                <td class="row-heading">Created date</td>
                                <td class="row-information">@Html.DisplayFor(model => model.createdDate)</td>
                            </tr>
                            <tr>
                                <td class="row-heading">Created by</td>
                                <td class="row-information">@Html.DisplayFor(model => model.createdBy)</td>
                            </tr>
                            <tr>
                                <td class="row-heading">Pregnant</td>
                                <td class="row-information"><span class="@(Model.Pregnant == true ? "check-yes far fa-check-circle" : "check-no far fa-times-circle")"></span>@((Model.Pregnant == true) ? " Yes" : " No")</td>
                            </tr>
                            @if (Model.Pregnant == true)
                            {
                                <tr>
                                    <td class="row-heading">Expected date of delivery</td>
                                    <td class="row-information">@Html.DisplayFor(model => model.EDD)</td>
                                </tr>
                            }
                            <tr>
                                <td class="row-heading">Treating doctor</td>
                                <td class="row-information">@(!String.IsNullOrEmpty(Model.TreatingDoctor) ? @Model.TreatingDoctor : "-")</td>
                            </tr>
                            <tr>
                                <td class="row-heading">Is doctor aware</td>
                                <td class="row-information"><span class="@(Model.isDoctorAware == true ? "check-yes far fa-check-circle" : "check-no far fa-times-circle")"></span>@((Model.isDoctorAware == true) ? " Yes" : " No")</td>
                            </tr>
                            @if (Model.modifiedDate != null)
                            {
                                <tr>
                                    <td class="row-heading">Modified date</td>
                                    <td class="row-information">@Html.DisplayFor(model => model.modifiedDate)</td>
                                </tr>
                                <tr>
                                    <td class="row-heading">Modified by</td>
                                    <td class="row-information">@Html.DisplayFor(model => model.modifiedBy)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="fixed-btn">
                    <input value="Back" class="btn bck-button go_back" onclick="backKey()" style="width: 15%!important" />
                    <input id="edit-pregnant" value="Edit" class="btn edit-button" style="width: 15%!important" />
                </div>
            </div>
        </div>

        <div class="hidden">

            @*<h4 class="summaryHeading">Other detail</h4>
                <hr class="fancyruler">
                <br />
                <br />
                <div style="margin-left: 2%">
                    <dl class="dl-horizontal editForm">



                        <dt>
                            @Html.DisplayName("Lypohypertophy?")
                        </dt>

                        <dd class="detailsYESNO">
                            @if (Model.lypohypertrophyCheck == true)
                            {
                                <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                            }
                            else
                            {
                                <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                            }
                        </dd>

                        @if (Model.lypohypertrophyCheck == true)
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.lypohypertrophy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.lypohypertrophy)
                            </dd>


                            <dt>
                                @Html.DisplayNameFor(model => model.lypohypertrophyDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.lypohypertrophyDate)
                            </dd>


                        }

                        <br />
                        <hr class="fancyruler" />

                        <dt>
                            @Html.DisplayName("Drug user?")
                        </dt>

                        <dd class="detailsYESNO">
                            @if (Model.recDrugs == true)
                            {
                                <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                            }
                            else
                            {
                                <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                            }
                        </dd>

                        @if (Model.recDrugs == true)
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.recDrugsLastUsed)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.recDrugsLastUsed)
                            </dd>

                        }

                        <br />
                        <hr class="fancyruler" />

                        <dt>
                            @Html.DisplayName("Depression?")
                        </dt>

                        <dd class="detailsYESNO">
                            @if (Model.depression == true)
                            {
                                <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                            }
                            else
                            {
                                <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                            }
                        </dd>

                        @if (Model.depression == true)
                        {

                            <dt>
                                @Html.DisplayNameFor(model => model.depressionComment)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.depressionComment)
                            </dd>

                        }

                        <br />
                        <hr class="fancyruler" />

                        <dt>
                            @Html.DisplayName("Diagnosed with TB?")
                        </dt>

                        <dd class="detailsYESNO">
                            @if (Model.tbDiagnosed == true)
                            {
                                <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                            }
                            else
                            {
                                <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                            }
                        </dd>

                        @if (Model.tbDiagnosed == true)
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.tbTreatmentStartDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tbTreatmentStartDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.tbTreatmentEndDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.tbTreatmentEndDate)
                            </dd>


                        }

                        <br />
                        <hr class="fancyruler" />

                        <dt>
                            @Html.DisplayName("Pregnant?")
                        </dt>

                        <dd class="detailsYESNO">
                            @if (Model.Pregnant == true)
                            {
                                <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                            }
                            else
                            {
                                <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                            }
                        </dd>


                        @if (Model.Pregnant == true)
                        {

                            <dt>
                                @Html.DisplayNameFor(model => model.EDD)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EDD)
                            </dd>

                        }

                        <br />
                        <hr class="fancyruler" />

                        <dt>
                            @Html.DisplayNameFor(model => model.createdBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.createdBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.createdDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.createdDate)
                        </dd>

                        <br />
                        <hr class="fancyruler" />

                        @if (Model.modifiedBy != null)
                        {

                            <dt>
                                @Html.DisplayNameFor(model => model.modifiedBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.modifiedBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.modifiedDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.modifiedDate)
                            </dd>

                            <br />
                            <hr class="fancyruler" />

                        }

                        @if (Model.programType != null)
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.programType)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.programType)
                            </dd>

                            <br />
                            <hr class="fancyruler" />

                        }
                        <dt>
                            @Html.DisplayNameFor(model => model.generalComments)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.generalComments)
                        </dd>

                        <br />
                        <hr class="fancyruler" />

                        <dt>
                            @Html.DisplayNameFor(model => model.active)
                        </dt>

                        <dd class="detailsCheck">
                            @if (Model.active == true)
                            {
                                <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                            }
                            else
                            {
                                <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                            }
                        </dd>

                    </dl>
                    <div class="fixedBack" style="margin-left: 40%">
                        <input value="Back" class="btn buttonRound_formBack go_back" style="width: 15%!important" />
                        <a href="@Url.Action("questionOther_Edit", "Member", new { id = Model.QuestionnaireOtherID})" value="Edit" class="btn buttonRound_formEdit" style="width: 15%!important">Edit</a>
                    </div>
                </div>*@
        </div>

    </div>

    @section scripts{
        <script src="~/Scripts/layout-buttons-general.js"></script>

        <!-- hidden-tables -->
        <script>
            $(document).ready(function () {
                if (localStorage.key(0) == "details_other") {
                    $('#general-other-header').removeClass('hidden'),
                        $('#bc-other').removeClass('hidden'),
                        $('#general-other-panel').removeClass('hidden');
                }
                if (localStorage.key(0) == "details_pregnant") {
                    $('#general-pregnant-header').removeClass('hidden'),
                        $('#bc-pregnant').removeClass('hidden'),
                        $('#general-pregnant-panel').removeClass('hidden');
                }
            });
        </script>
        <!-- local-storage-redirect -->
        <script>
            function backKey() {
                if (localStorage.key(0) == "history_medication") {
                    localStorage.clear();
                    localStorage.removeItem("history_medication");
                    localStorage.setItem("back_medication", Date.now());
                }
                if (localStorage.key(0) == "history_diabetes_medication") {
                    $('#diabetes-medication').removeClass('hidden');
                    localStorage.clear();
                    localStorage.removeItem("history_diabetes_medication");
                    localStorage.setItem("back_diabetes_medication", Date.now());
                }
                if (localStorage.key(0) == "history_hiv_medication") {
                    $('#hiv-medication').removeClass('hidden');
                    localStorage.clear();
                    localStorage.removeItem("history_hiv_medication");
                    localStorage.setItem("back_hiv_medication", Date.now());
                }
            }
        </script>
    }

