@model HaloCareCore.Models.HospitalAuthViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Hospitalisations_Details";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>

<!--pageHeader-->
<nav id="global-nav" class="nav">
    <div class="pull-left title">
        <h1 class="site-title_patientProfile">
            <span><i class="fas fa-hospital-symbol"></i>&emsp; Hospitalisations</span>
        </h1>
    </div>
    <div class="pull-right title">
        <h1 class="site-title_userID pull-right">
            <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
        </h1>
        <h1 class="site-title_userID pull-right">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
            {
                <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
            }
        </h1>
        <h1 class="site-waffleIcon pull-right">
            <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
        </h1>
    </div>
</nav>

<div class="dashboardContainer zero-padding">
    <div class="patientDashboard_View">
        <!--breadCrumbs-->
        <ul class="breadcrumbs_patientDashboard">
            <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
            <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
            <li><a class="go_back">Patient</a></li>
            <li><a href="#">Hospitalisations</a></li>
        </ul>
        <!--Left navSlider -->
        @Html.Partial("_navSlider_blank", new { })
        <!--navCollection-->
        <div class="navCollection_patientDashboard">
            @Html.Partial("_navCollection")
        </div>
        <!--profileInformation-->
        <div class="profileBar">
            @Html.Action("_profileBar_edit", "Member", new { DependentID = Model.dependantID, pro = Context.Request.Query["pro"] })
        </div>
    </div>

    <div class="profilebar-spacer-assignment"></div>

    <div class="patientDashboard_container">

        <h4 class="summaryHeading">Hospitalisation detail</h4>
        <hr class="fancyruler">
        <br />
        <br />
        <div style="margin-left: 2%">
            <dl class="dl-horizontal editForm">
                <dt>
                    @Html.DisplayNameFor(model => model.hospitalizationAuth.createdDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hospitalizationAuth.createdDate)

                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.hospitalizationAuth.authType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hospitalizationAuth.authType)

                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.hospitalizationAuth.actualAdminDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hospitalizationAuth.actualAdminDate)

                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.hospitalizationAuth.programType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hospitalizationAuth.programType)

                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.hospitalizationAuth.generalComments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hospitalizationAuth.generalComments)

                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.hospitalizationAuth.followUp)
                </dt>

                <dd class="detailsCheck">
                    @if (Model.hospitalizationAuth.followUp == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

            </dl>
        </div>
        <div class="fixedBack" style="margin-left: 40%">
            <input value="Back" class="btn buttonRound_formBack go_back" onclick="backKey()" style="width: 15%!important" />
            <a href="@Url.Action("Hospitalisations_Edit", "Member", new { id = Model.hospitalizationAuth.id, pro = Context.Request.Query["pro"]})" value="Edit" class="btn buttonRound_formEdit" style="width: 15%!important">Edit</a>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <script>
        function backKey() {
            localStorage.setItem("back_hospitalisation", Date.now());
        }
    </script>
}


