@model HaloCareCore.Models.Hypoglycaemia
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "hypoGlycaemia_Details";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>

<!--pageHeader-->
<nav id="global-nav" class="nav">
    <div class="pull-left title">
        <h1 class="site-title_patientProfile">
            <span><img src="~/Content/Images/memberProfile/topBar Icons/podiatry_White.png" /></span>&emsp; Hypoglycaemia
        </h1>
    </div>
    <div class="pull-right title">
        <h1 class="site-title_userID pull-right">
            <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
        </h1>
        <h1 class="site-title_userID pull-right">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
            {
                <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
            }
        </h1>
        <h1 class="site-waffleIcon pull-right">
            <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
        </h1>
    </div>
</nav>

<div class="dashboardContainer zero-padding">
    <div class="patientDashboard_View">
        <!--breadCrumbs-->
        <ul class="breadcrumbs_patientDashboard">
            <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
            <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
            <li><a class="go_back">Patient</a></li>
            <li><a href="#">Hypoglycaemia</a></li>
        </ul>
        <!--Left navSlider -->
        @Html.Partial("_navSlider_blank", new { })
        <!--navCollection-->
        <div class="navCollection_patientDashboard">
            @Html.Partial("_navCollection")
        </div>
        <!--profileInformation-->
        <div class="profileBar">
            @Html.Action("_profileBar_edit", "Member", new { DependentID = Model.dependentID })
        </div>
    </div>

    <div class="profilebar-spacer-assignment"></div>

    <div class="patientDashboard_container">

        <h4 class="summaryHeading">Hypoglycaemia detail</h4>
        <hr class="fancyruler">
        <br />
        <br />
        <div style="margin-left: 2%">
            <dl class="dl-questionHorizontal editForm">
                <dt>
                    @Html.DisplayNameFor(model => model.glucoseReading)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.glucoseReading)
                </dd>

                <br />

                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.hypoglycaemiaComment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hypoglycaemiaComment)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.hypoglycaemiaSymptomsComment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hypoglycaemiaSymptomsComment)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.hypoglycaemiaAssistance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hypoglycaemiaAssistance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.emergencyRoomVisits)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.emergencyRoomVisits)
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayName("Patient uses insulin?")
                </dt>

                <dd class="detailsYESNO">
                    @if (Model.insulinUseCheck == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayName("Patient uses sulfonylurea?")
                </dt>

                <dd class="detailsYESNO">
                    @if (Model.sulfonylureaUseCheck == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayName("CKD staging?")
                </dt>

                <dd class="detailsYESNO">
                    @if (Model.ckdStageCheck == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.patientAgeCheck)
                    @Html.DisplayName("Patient is younger than 77 y/o?")

                </dt>

                <dd class="detailsYESNO">
                    @if (Model.patientAgeCheck == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.createdBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.createdDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdDate)
                </dd>

                <br />
                <hr class="fancyruler" />

                @if (Model.modifiedBy != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.modifiedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.modifiedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.modifiedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.modifiedDate)
                    </dd>

                    <br />
                    <hr class="fancyruler" />

                }

                <dt>
                    @Html.DisplayNameFor(model => model.programType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.programType)
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.generalComments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.generalComments)
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.followUp)
                </dt>

                <dd class="detailsCheck">
                    @if (Model.followUp == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.active)
                </dt>

                <dd class="detailsCheck">
                    @if (Model.active == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

            </dl>
            <div class="fixedBack" style="margin-left: 40%">
                <input value="Back" class="btn buttonRound_formBack go_back" onclick="backKey()" style="width: 15%!important" />
                <a href="@Url.Action("hypoGlycaemia_Edit", "Member", new { id = Model.HypoglycaemiaID, pro=Context.Request.Query["pro"]})" value="Edit" class="btn buttonRound_formEdit" style="width: 15%!important">Edit</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <script>
        function backKey() {
            localStorage.setItem("back_hypo_diabetes", Date.now());
        }
    </script>
}
