@model HaloCareCore.Models.ViewModels.MemberProfileVM
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<comment>
    <!--
        03 December 2019 -- HCare-914(LINKED TO HCARE-134: Module 3 - HC Patient profile spec - Design (Related to HCare-881 SC))
        Fixed view and added new icons for program selection in view

        11 December 2019 -- HCare-926(LINKED TO HCARE-134: Centre the Disease management images based on Program)
        Alignments of images in the event of one program only. This caters for HIV and Diabetes together and individually.

        22 July 2020 -- HCare-1121(Mental Health Disease: Program image)
        Created a new view to accomodate the dynamic program history which loops through the history of the patient's program and displays in a grid form.
    -->
</comment>
<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>

<!--------------------------------------------------------------------------- header-information ------------------------------------------------------------------------>
<nav id="global-nav" class="nav">
    <div class="pull-left title">
        <h1 class="site-title_patientProfile">
            <span><i class="fas fa-user-circle"></i>&emsp; Member profile</span>
        </h1>
    </div>
    <div class="pull-right title">
        <h1 class="site-title_userID pull-right">
            <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
        </h1>
        <h1 class="site-title_userID pull-right">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
            {
                <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
            }
        </h1>
        <h1 class="site-waffleIcon pull-right">
            <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
        </h1>
    </div>
</nav>
<div class="dashboardContainer zero-padding">
    <!--------------------------------------------------------------------------- profile-information ------------------------------------------------------------------------>
    <div class="patientDashboard_View">
        <ul class="breadcrumbs_patientDashboard">
            <li style="font-size: 10px; color: #0081b3; font-weight: 200">You are here:</li>
            <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
            <li><a href="#">Member profile</a></li>
        </ul>
        @Html.Partial("_navSlider_blank", new { })
        <div class="navCollection_patientDashboard">
            @Html.Partial("_navCollection")
        </div>
        <div class="profileBar">
            @Html.Action("_profileBar_MemberFile", "Member", new { DependentID = Context.Request.Query["DependentID"] })
        </div>
    </div>

    <div class="profilebar-spacer-program"></div>

    <div class="patientDashboard_container" style="margin-left: 7.5%!important">
        <h4 class="programHeading">Select a program</h4>
        <hr class="fancyruler">

        <div class="menuIcons row" style="margin-top: 5%">

            @{var count = Model.MemberBasicViews.Count(); }

            @if (count == 1)
            {
                <center>
                    <div class="col-md-5"></div>
                    @foreach (var item in Model.MemberBasicViews.Take(4))
                    {
                        <div class="col-md-2">
                            <a href="@Url.Action("patientDashboard", "Member", new { DependentID = item.dependantId, pro = item.programID })">
                                <div id="@item.programCode.ToLower()-card">@item.programName</div>
                            </a>
                        </div>
                    }
                    <div class="col-md-5"></div>
                </center>
            }
            @if (count == 2)
            {
                <center>
                    <div class="col-md-4"></div>
                    @foreach (var item in Model.MemberBasicViews.Take(4))
                    {
                        <div class="col-md-2">
                            <a href="@Url.Action("patientDashboard", "Member", new { DependentID = item.dependantId, pro = item.programID })">
                                <div id="@item.programCode.ToLower()-card">@item.programName</div>
                            </a>
                        </div>
                    }
                    <div class="col-md-4"></div>
                </center>
            }
            @if (count == 3)
            {
                <center>
                    <div class="col-md-3"></div>
                    @foreach (var item in Model.MemberBasicViews.Take(4))
                    {
                        <div class="col-md-2">
                            <a href="@Url.Action("patientDashboard", "Member", new { DependentID = item.dependantId, pro = item.programID })">
                                <div id="@item.programCode.ToLower()-card">@item.programName</div>
                            </a>
                        </div>
                    }
                    <div class="col-md-3"></div>
                </center>
            }
            @if (count >= 4)
            {
                <center>
                    <div class="col-md-2"></div>
                    @foreach (var item in Model.MemberBasicViews.Take(4))
                    {
                        <div class="col-md-2">
                            <a href="@Url.Action("patientDashboard", "Member", new { DependentID = item.dependantId, pro = item.programID })">
                                <div id="@item.programCode.ToLower()-card">@item.programName</div>
                            </a>
                        </div>
                    }
                    <div class="col-md-2"></div>

                    <div class="col-md-12" style="margin-top: 10%; margin-bottom: 5%">
                        <div class="col-md-2"></div>
                        @foreach (var item in Model.MemberBasicViews.Skip(4).Take(4))
                        {
                            <div class="col-md-2 icon-container">
                                <a href="@Url.Action("patientDashboard", "Member", new { DependentID = item.dependantId, pro = item.programID })">
                                    <div id="@item.programCode.ToLower()-card">@item.programName</div>
                                </a>
                            </div>
                        }
                        <div class="col-md-2"></div>
                    </div>
                </center>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/layout-buttons-general.js"></script>

}