@model HaloCareCore.Models.Podiatry
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "podiatry_Details";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<comment>
    <!--
        12 July 2019 -- HCare-753(Add amputation checkbox to front view)
        Added Amputation checkbox to podiatry_Create.cshtml, podiatry_Edit.cshtml, podiatry_Details.cshtml and updated setting Checkbox in Repo
    -->
</comment>
<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>

<!--pageHeader-->
<nav id="global-nav" class="nav">
    <div class="pull-left title">
        <h1 class="site-title_patientProfile">
            <span><img src="~/Content/Images/memberProfile/topBar Icons/podiatry_White.png" /></span>&emsp; Patient podiatry
        </h1>
    </div>
    <div class="pull-right title">
        <h1 class="site-title_userID pull-right">
            <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
        </h1>
        <h1 class="site-title_userID pull-right">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
            {
                <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
            }
        </h1>
        <h1 class="site-waffleIcon pull-right">
            <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
        </h1>
    </div>
</nav>

<div class="dashboardContainer zero-padding">
    <div class="patientDashboard_View">
        <!--breadCrumbs-->
        <ul class="breadcrumbs_patientDashboard">
            <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
            <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
            <li><a class="go_back">Patient</a></li>
            <li><a href="#">Podiatry</a></li>
        </ul>
        <!--Left navSlider -->
        @Html.Partial("_navSlider_blank", new { })
        <!--navCollection-->
        <div class="navCollection_patientDashboard">
            @Html.Partial("_navCollection")
        </div>
        <!--profileInformation-->
        <div class="profileBar">
            @Html.Action("_profileBar_edit", "Member", new { DependentID = Model.dependentID })
        </div>
    </div>

    <div class="profilebar-spacer-assignment"></div>

    <div class="patientDashboard_container">

        <h4 class="summaryHeading">Podiatry detail</h4>
        <hr class="fancyruler">
        <br />
        <br />
        <div style="margin-left: 2%">
            <dl class="dl-questionHorizontal editForm">

                <dt>
                    @Html.DisplayName("Amputation")
                </dt>
                <dd class="detailsYESNO">
                    @if (Model.amputationCheck == false)
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>
                    }
                    else if (Model.amputationCheck == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.amputationComment)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.amputationComment)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.amputationReason)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.amputationReason)
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayName("Podiatry LOPS")
                </dt>

                <dd class="detailsYESNO">
                    @if (Model.podiatryLopsComment == "None" || Model.podiatryLopsComment == "• None/Geen")
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>
                    }
                    else if (Model.podiatryLopsComment == "• Follow up")
                    {
                        <span style="font-size: 16px; color: orange; text-align: center!important"><i class="far fa-question-circle"></i></span>
                    }
                    else if (Model.podiatryLopsComment == "• N/A")
                    {
                        <span style="font-size: 16px; color: black; text-align: center!important"><i class="fas fa-ban"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                </dd>

                <dt>
                    @Html.DisplayName("Comment")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.podiatryLopsComment)
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayName("Deformation")
                </dt>

                <dd class="detailsYESNO">
                    @if (Model.podiatryDeformityComment == "None" || Model.podiatryDeformityComment == "• None/Geen")
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>
                    }
                    else if (Model.podiatryDeformityComment == "• Follow up")
                    {
                        <span style="font-size: 16px; color: orange; text-align: center!important"><i class="far fa-question-circle"></i></span>
                    }
                    else if (Model.podiatryDeformityComment == "• N/A")
                    {
                        <span style="font-size: 16px; color: black; text-align: center!important"><i class="fas fa-ban"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                </dd>

                <dt>
                    @Html.DisplayName("Comment")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.podiatryDeformityComment)
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayName("Peripheral Art Disease")
                </dt>

                <dd class="detailsYESNO">
                    @if (Model.podiatryPerArterialDiseaseComment == "None" || Model.podiatryPerArterialDiseaseComment == "• None/Geen")
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>
                    }
                    else if (Model.podiatryPerArterialDiseaseComment == "• Follow up")
                    {
                        <span style="font-size: 16px; color: orange; text-align: center!important"><i class="far fa-question-circle"></i></span>
                    }
                    else if (Model.podiatryPerArterialDiseaseComment == "• N/A")
                    {
                        <span style="font-size: 16px; color: black; text-align: center!important"><i class="fas fa-ban"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                </dd>

                <dt>
                    @Html.DisplayName("Comment")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.podiatryPerArterialDiseaseComment)
                </dd>

                <dt>
                    @Html.DisplayName("Affected leg(s)")
                </dt>

                <dd class="detailsYESNO">
                    @if (Model.podiatryPerArterialDiseaseAffectedLeg == "• Follow up")
                    {
                        <span style="font-size: 16px; color: orange; text-align: center!important"><i class="far fa-question-circle"></i></span>
                    }
                    else if (Model.podiatryPerArterialDiseaseAffectedLeg == "• N/A")
                    {
                        <span style="font-size: 16px; color: black; text-align: center!important"><i class="fas fa-ban"></i></span>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.podiatryPerArterialDiseaseAffectedLeg)
                    }
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayName("Podiatry wound")
                </dt>

                <dd class="detailsYESNO">
                    @if (Model.podiatryWoundCheck == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>
                    }
                </dd>

                <dd>
                    @Html.DisplayFor(model => model.podiatryWoundComment)
                </dd>

                <dt>
                    @Html.DisplayName("Affected leg(s)")
                </dt>

                <dd class="detailsYESNO">
                    @if (Model.podiatryWoundAffectedLeg == "• Follow up")
                    {
                        <span style="font-size: 16px; color: orange; text-align: center!important"><i class="far fa-question-circle"></i></span>
                    }
                    else if (Model.podiatryWoundAffectedLeg == "• N/A")
                    {
                        <span style="font-size: 16px; color: black; text-align: center!important"><i class="fas fa-ban"></i></span>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.podiatryWoundAffectedLeg)
                    }
                </dd>

                <dt>
                    @Html.DisplayName("Wound infection")
                </dt>

                <dd class="detailsYESNO">
                    @Html.DisplayFor(model => model.WoundInfection)
                </dd>


                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.createdBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.createdDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdDate)
                </dd>

                <br />
                <hr class="fancyruler" />

                @if (Model.modifiedBy != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.modifiedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.modifiedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.modifiedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.modifiedDate)
                    </dd>

                    <br />
                    <hr class="fancyruler" />
                }

                <dt>
                    @Html.DisplayNameFor(model => model.programType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.programType)
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.generalComments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.generalComments)
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.followUp)
                </dt>

                <dd class="detailsCheck">
                    @if (Model.followUp == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

                <br />
                <hr class="fancyruler" />

                <dt>
                    @Html.DisplayNameFor(model => model.active)
                </dt>

                <dd class="detailsCheck">
                    @if (Model.active == true)
                    {
                        <span style="font-size: 16px; color: forestgreen; text-align: center!important"><i class="far fa-check-circle"></i></span>
                    }
                    else
                    {
                        <span style="font-size: 16px; color: darkred; text-align: center!important"><i class="far fa-times-circle"></i></span>

                    }
                </dd>

            </dl>
            <div class="fixedBack" style="margin-left: 40%">
                <input value="Back" class="btn buttonRound_formBack go_back" onclick="backKey()" style="width: 15%!important" />
                <a href="@Url.Action("podiatry_Edit", "Member", new { id = Model.PodiatryID, pro=Context.Request.Query["pro"]})" value="Edit" class="btn buttonRound_formEdit" style="width: 15%!important">Edit</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <script>
        function backKey() {
            localStorage.setItem("back_podiatry_diabetes", Date.now());
        }
    </script>
}
