@model HaloCareCore.Models.Management.PatientRiskRatingHistory
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Risk rating";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<style>
    body {
        background-color: #f9f9fc !important;
    }

    .input-group-addon {
        visibility: hidden;
    }

    .select2-container {
        border: none !important;
    }

        .select2-container:focus {
            outline: none !important
        }

    .select2-container--default .select2-selection--single {
        display: block !important;
        max-width: 500px !important;
        width: 100% !important;
        max-height: 100px !important;
        height: 30px !important;
        margin-top: 5px !important;
        margin-left: 10px !important;
        padding: 6px 6px !important;
        line-height: 1.428571429 !important;
        color: #003366 !important;
        border-radius: 0px !important;
        border: none !important;
        border-bottom: 1px solid #e8e6e6 !important;
        background-color: transparent !important;
        font-family: 'Century Gothic' !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

        .select2-container--default .select2-selection--single:focus {
            outline: none !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            color: white !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            margin-top: -0px !important;
        }

    .field-validation-error:before {
        font-family: FontAwesome;
        content: "\f06a\00a0";
    }

    /*    textarea#reason {
        color: #003366;
    }*/

    textarea#reason {
        display: block;
        max-width: 2000px !important;
        width: 1000px !important;
        max-height: 100px !important;
        height: 100px !important;
        margin-top: 5px !important;
        margin-left: 10px !important;
        padding: 6px 6px !important;
        line-height: 1.428571429 !important;
        color: #003366 !important;
        border-radius: 0px !important;
        border: none !important;
        border-bottom: 1px solid #e8e6e6 !important;
        background-color: transparent !important;
        padding-left: 5px !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition: none !important;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        outline: none !important;
        transition: 1s !important;
        font-size: 16px;
        font-weight: 100;
    }

    textarea#Comment {
        display: block;
        max-width: 2000px !important;
        width: 600px !important;
        max-height: 100px !important;
        height: 100px !important;
        margin-top: 5px !important;
        margin-left: 10px !important;
        padding: 6px 6px !important;
        line-height: 1.428571429 !important;
        color: #003366 !important;
        border-radius: 0px !important;
        border: none !important;
        border-bottom: 1px solid #e8e6e6 !important;
        background-color: transparent !important;
        padding-left: 5px !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition: none !important;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        outline: none !important;
        transition: 1s !important;
        font-size: 16px;
        font-weight: 100;
    }

    .form-control-new-date {
        display: block;
        max-width: 600px !important;
        width: 100%;
        max-height: 100px;
        height: 30px;
        margin-top: 5px;
        margin-left: 10px;
        padding: 6px 6px;
        line-height: 1.428571429;
        color: #003366;
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid #e8e6e6;
        background-color: transparent !important;
        font-family: 'Century Gothic' !important;
    }

        .form-control-new-date:hover {
            border-bottom: 1px solid #b0afaf;
        }

        .form-control-new-date:focus {
            border-bottom: 1px solid #b0afaf;
        }
</style>


<!---------------------------------------------------------------------- header ---------------------------------------------------------------------->
<nav id="global-nav" class="nav">
    <div class="pull-left title">
        <h1 class="site-title_patientProfile">
            <span><img src="~/Content/Images/memberProfile/topBar Icons/clincalHistory.png" /></span>&emsp; @ViewBag.Title
        </h1>
    </div>
    <div class="pull-right title">
        <h1 class="site-title_userID pull-right">
            <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
        </h1>
        <h1 class="site-title_userID pull-right">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
            {
                <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
            }
        </h1>
        <h1 class="site-waffleIcon pull-right">
            <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
        </h1>
    </div>
</nav>

<div class="dashboardContainer zero-padding">
    <div class="patientDashboard_View">
        <!------------------------------------------------------------------------ bread-crumbs ------------------------------------------------------------------------>
        <ul class="breadcrumbs_patientDashboard">
            <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
            <li><a href="@Url.Action("Index", "Home", new { })">Home</a></li>
            <li><a href="@Url.Action("patientClinical", "Member", new { DependentID = Context.Request.Query["DependentID"] })">Patient</a></li>
            <li><a href="#">@ViewBag.Title</a></li>
        </ul>

        <!--------------------------------------------------------------------- left-navigation-bar --------------------------------------------------------------------->
        @Html.Partial("_navSlider", new { DependentID = Context.Request.Query["DependentID"] })

        <!----------------------------------------------------------------------- nav-collection ----------------------------------------------------------------------->
        <div class="navCollection_patientDashboard">
            @Html.Partial("_navCollection")
        </div>

        <!----------------------------------------------------------------------- patient-profile ----------------------------------------------------------------------->
        <div class="profileBar">
            @Html.Action("_profileBar_edit", "Member", new { DependentID = Model.dependantID })
        </div>
    </div>
    <br />
    <!----------------------------------------------------------------------- form ----------------------------------------------------------------------->
    <div class="profilebar-spacer"></div>

    <div id="patientDashboard_container" class="patientDashboard_container">
        <div class="col-md-12 row">
            <div class="heading-spacer"></div>
            <div class="col-md-6"><div class="page-heading">Edit</div></div>
            <hr class="heading-ruler">
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal editForm">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("pro", (object)ViewBag.programId)
                @Html.HiddenFor(model => model.effectiveDate)
                @Html.HiddenFor(model => model.createdDate)
                @Html.HiddenFor(model => model.createdBy)
                @Html.HiddenFor(model => model.dependantID)
                @Html.HiddenFor(model => model.programType)
                @Html.HiddenFor(model => model.RiskId)
                <input type="hidden" name="dbreason" id="dbreason" value="@Model.reason" />
                @Html.HiddenFor(model => model.id)

                @*<div class="form-group">
                        @Html.LabelFor(model => model.effectiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input class="form-control-new-date startDate" data-val="true" id="effectiveDate" name="effectiveDate" value="@string.Format("{0:yyyy-MM-dd}", Model.effectiveDate)" type="date" min="1900-01-01" aria-required="true" aria-invalid="true" max="@DateTime.Now.ToString("yyyy-MM-dd")" required disabled>
                            @Html.ValidationMessage("effectiveDate", "", new { @class = "text-danger", @style = "margin-left: 1%" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RiskId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.RiskId, new SelectList(Model.RiskRatings.Where(x => x.Active == true), "RiskType", "RiskName"), Model.RiskId, htmlAttributes: new { })
                            @Html.ValidationMessageFor(model => model.RiskId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.reason, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.reason, new { htmlAttributes = new { @placeholder = "comment", @id="RiskReason"} })
                            @Html.ValidationMessageFor(model => model.reason, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="col-md-12">
                    <div class="row">
                        <table class="table details-table" id="">
                            <tbody>
                                <tr>
                                    <td class="row-heading subject">@Html.DisplayNameFor(model => model.effectiveDate)</td>
                                    <td class="row-information">@Html.DisplayFor(model => model.effectiveDate)</td>
                                </tr>
                                <tr>
                                    <td class="row-heading subject">@Html.DisplayNameFor(model => model.RiskId)</td>
                                    <td class="row-information">
                                        @Html.DisplayFor(model => model.RiskId)
                                        &emsp;<span class="@(Model.RiskId.ToLower() == "red" ? "chk-severe fas fa-circle" : Model.RiskId.ToLower() == "yellow" ? "chk-mild fas fa-circle" : Model.RiskId.ToLower() == "green" ? "chk-absent fas fa-circle" : "chk-followup fas fa-circle")"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="row-heading subject">@Html.DisplayNameFor(model => model.reason)</td>
                                    <td class="row-information">@Html.DisplayFor(model => model.reason)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Comment, new { htmlAttributes = new { @placeholder = "comment" } })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger", @style = "font-size: 75%; margin-left: 1%" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.active)
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div style="text-align: center!important">
                        <input id="submit" type="submit" value="Save" class="btn create-button" onclick="storageKey()" style="width: 15%" /><br />
                        <input id="back" value="Back" class="btn reset-button go_back" onclick="backKey()" style="width: 15%!important" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script src="~/bundles/jqueryui"></script>
    <style src="~/Content/themes/base/css" )

    <script src="~/Scripts/layout-buttons-general.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- select-dropdowns -->
    <script>
        $(document).ready(function () { $("#RiskId").select2({ multiple: false }); });
        $('#RiskId').prop('disabled', true);
        $('#reason').prop('disabled', true);
        $('.check-box').prop('disabled', false);
        $('#Comment').prop('required', true);
    </script>

    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').click(function () {
                if ($(this).is(":checked")) {
                    console.log("Checkbox is checked.");
                }
                else if ($(this).is(":not(:checked)")) {
                    console.log("Checkbox is unchecked.");
                }
            });
        });
    </script>
}
