@model HaloCareCore.Models.Script.ScriptItems
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "ViewScriptItem";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>

<div class="fullScreen_container zero-padding">

    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-title_patientProfile">
                <span><i class="fas fa-prescription"></i>&emsp; Script item</span>
            </h1>
        </div>
        <div class="pull-right title">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
            <h1 class="site-title_userID pull-right">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
                {
                    <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
                }
            </h1>
            <h1 class="site-waffleIcon pull-right">
                <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
            </h1>
        </div>
    </nav>

    <!--breadCrumbs-->
    <ul class="breadcrumbs_fullScreens">
        <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
        <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
        <li><a href="@Url.Action("Details", "Scripts", new {ID = Model.scriptID})">Script</a></li>
        <li><a href="#">Detail</a></li>
    </ul>

    <!--navCollection-->
    <div class="navCollection_fullScreens">
        @Html.Partial("_navCollection")
    </div>

    <div style="margin-bottom: 2%"></div>


    <div class="row">
        <h4 class="tableHeading">Script item</h4>
        <hr class="fancyruler">
        <br />
        <dl class="dl-horizontal editForm">
            @Html.Hidden("depId")

            <dt>
                @Html.DisplayNameFor(model => model.nappiCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nappiCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.directions)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.directions)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fromDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fromDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.toDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.toDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.itemRepeats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.itemRepeats)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.createdBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createdBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.createdDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createdDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.modifiedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.modifiedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.modifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.modifiedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.active)
            </dt>

            <dd class="scriptCheckbox">
                @Html.DisplayFor(model => model.active)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.itemStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.itemStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.prophylaxis)
            </dt>

            <dd class="scriptCheckbox">
                @Html.DisplayFor(model => model.prophylaxis)
            </dd>

            <div class="fixedBack" style="margin-left: 40%">
                <input value="Back" class="btn buttonRound_formBack go_back" style="width: 15%!important" />
                <a href="@Url.Action("EditScriptItem", "Member", new { itemId = Model.itemNo,pro = Context.Request.Query["pro"] })" class="btn buttonRound_formEdit" style="width: 15%!important">Edit</a>
            </div>

        </dl>
    </div>

</div>

@section Scripts {
    <script src="~/bundles/jqueryval"></script>
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <script src="~/Scripts/select2.min.js"></script>

}
