@model IEnumerable<HaloCareCore.Models.Patient.MedicalAid>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>

<!--dateSort_JQ-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script>

<div class="fullScreen_container zero-padding">

    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-title_patientProfile">
                <span><i class="fas fa-plus-square"></i>&emsp; Medical scheme</span>
            </h1>
        </div>
        <div class="pull-right title">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
            <h1 class="site-title_userID pull-right">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
                {
                    <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
                }
            </h1>
            <h1 class="site-waffleIcon pull-right">
                <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
            </h1>
        </div>
    </nav>

    <!--breadCrumbs-->
    <ul class="breadcrumbs_fullScreens">
        <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
        <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
        <li><a href="@Url.Action("Index", "Administration", new {})">Settings</a></li>
        <li><a href="#">Medical scheme</a></li>
    </ul>

    <!--navCollection-->
    <div class="navCollection_fullScreens">
        @Html.Partial("_navCollection")
    </div>

    <div style="margin-bottom: 2%"></div>

    <h4 class="tableHeading">Medical scheme overview</h4>

    <!--createNew-->
    <div class="createNew_link" style="margin-top: -1%; margin-bottom: -2%">
        <a href="@Url.Action("Create", "MedicalAids", new { })">
            <span id="texts">
                Create new
            </span>

            <i class="material-icons" id="icon" title="New enrolment">
                add_circle_outline
            </i>
        </a>
    </div>
    <!--jQ_Search-->
    <div class="row tableSearch_patientOverview" style="margin-top: -2%; margin-bottom: 0.5%">
        <div class="col-md-6 pull-right">
            <ul class="input-group" id="adv-search">

                <ul class="nav navbar-nav navbar-right">
                    <li class="focus">
                        <input type="text" class="form-control-patientSearch" id="search" onkeyup="myFunction()" placeholder="Search..." />
                    </li>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-search" style="height: 30px"><span class="glyphicon glyphicon-search" aria-hidden="true" title="Search"></span></button>
                    </div>
                </ul>
            </ul>
        </div>
    </div>

    <table class="table riskRatingTable sortable" id="maTable">
        <thead>
            <tr>
                <th onclick="maTable(1)" style="width: 8%">
                    @Html.DisplayNameFor(model => model.medicalAidCode) <i class="fa fa-fw fa-sort sortArrow"></i>
                </th>
                <th onclick="maTable(0)" style="width: 15%">
                    @Html.DisplayNameFor(model => model.Name) <i class="fa fa-fw fa-sort sortArrow"></i>
                </th>
                <th onclick="maTable(2)" style="width: 15%">
                    @Html.DisplayName("Created") <i class="fa fa-fw fa-sort sortArrow"></i>
                </th>
                <th onclick="maTable(3)" style="width: 15%">
                    @Html.DisplayName("Modified") <i class="fa fa-fw fa-sort sortArrow"></i>
                </th>

                <th style="text-align: center!important; width: 7%">
                    @Html.DisplayName("CL carrier") <i class="fa fa-fw fa-sort sortArrow"></i>
                </th>
                <th style="text-align: center!important; width: 7%">
                    @Html.DisplayNameFor(model => model.Active) <i class="fa fa-fw fa-sort sortArrow"></i>
                </th>
                <th style="text-align: center!important; width: 7% ">
                    Action
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)

        {
            <tbody>
                <tr>
                    <td>
                        @if (item.Active == false)
                        {
                            <span style="color: lightgray">@Html.DisplayFor(modelItem => item.medicalAidCode)</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.medicalAidCode)
                        }
                    </td>
                    <td>
                        @if (item.Active == false)
                        {
                            <span style="color: lightgray">@Html.DisplayFor(modelItem => item.Name)</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Name)
                        }
                    </td>
                    <td>
                        @if (item.Active == false)
                        {
                            <span style="color: lightgray">@Html.DisplayFor(modelItem => item.createdBy)</span>
                            <span style="font-size: 10px; color: lightgray">
                                @if (item.createdDate != null)
                                {
                                    @:(@item.createdDate.ToString("dd-MM-yyyy"))
                                }
                            </span> }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.createdBy)
                            <span style="font-size: 10px">
                                @if (item.createdDate != null)
                                {
                                    @:(@item.createdDate.ToString("dd-MM-yyyy"))
                                }
                            </span>}
                    </td>

                    <td>
                        @if (item.Active == false)
                        {
                            <span style="color: lightgray">@Html.DisplayFor(modelItem => item.modifiedBy)</span>
                            <span style="font-size: 10px; color: lightgray">
                                @if (item.modifiedDate.HasValue)
                                {
                                    @:(@item.modifiedDate.Value.ToString("dd-MM-yyyy"))
                                }
                            </span> }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.modifiedBy)
                            <span style="font-size: 10px">
                                @if (item.modifiedDate.HasValue)
                                {
                                    @:(@item.modifiedDate.Value.ToString("dd-MM-yyyy"))
                                }
                            </span>
                        }
                    </td>

                    <td style="text-align: center!important; width: 7%">

                        @if (item.clCarrier)
                        {
                            <img src="~/Content/Images/Navigation/5. Reports/reportCheck.png" style="width: 15%; opacity: 0.7" />
                        }
                        else
                        {
                            <img src="~/Content/Images/Navigation/5. Reports/reportCheck_x.png" style="width: 15%; opacity: 0.5" />
                        }

                    </td>

                    <td style="text-align: center!important; width: 7%">

                        @if (item.Active)
                        {
                            <img src="~/Content/Images/Navigation/5. Reports/reportCheck.png" style="width: 15%; opacity: 0.7" />
                        }
                        else
                        {
                            <img src="~/Content/Images/Navigation/5. Reports/reportCheck_x.png" style="width: 15%; opacity: 0.5" />
                        }

                    </td>

                    <td class="statusCode linkNav" style="text-align: center!important">
                        @Html.RenderActionLink("Edit", "Edit", new { id = item.MedicalAidID }) |
                        @Html.RenderActionLink("Details", "Details", new { id = item.MedicalAidID })
                    </td>
                </tr>
            </tbody>
        }

    </table>
    <div class="fixedBack">
        <input value="Back" class="btn buttonRound_formBack go_back" style="width: 15%" />
    </div>
</div>

<script src="js/jquery.tablesorter.min.js"></script>

@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>

    <script>
        /*maTable tableSearch*/
        var $rows = $('#maTable tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

        /*maTable tableSort*/
        function maTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("maTable");
            switching = true;
            dir = "asc";

            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("TR");

                for (i = 1; i < (rows.length - 1); i++) {

                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

    </script>
}

