@model IEnumerable<HaloCareCore.Models.Validation.ManagementStatus>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Management status";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<comment>
    <!--
        14 May 2019 -- HCare-730 (Account Settings – Management status (Related to HCare-417))
        Added CSS to the views as well as a duplicate check on the management status code and the management status description.

        The index view allows a user to view the active and inactive entries in order to control the statuses from a settings perspective.
        I have added a search bar as well as a sort function that will allow the user to sort the columns.
        The duplication check is applied to the create view and will not allow a user to enter an entry that has the same Code or the same name.

        xx September 2019 -- HCare-803 (Add reason to Deactivated status)
        Added maintenance table for Management status Deactivated reasons. Full CRUD functionality along with table layout standards.
        Needed to join the management status as well as the reasons into the one index view in order to save space in the settings view.

    -->
</comment>
<javascript>
    <script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script>
</javascript>
<style>
    body {
        background-color: #f9f9fc !important;
    }
</style>

<div class="fullScreen_container zero-padding">

    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-title_patientProfile">
                <span><i class="fas fa-id-card-alt"></i>&emsp; Management status</span>
            </h1>
        </div>
        <div class="pull-right title">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
            <h1 class="site-title_userID pull-right">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
                {
                    <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
                }
            </h1>
            <h1 class="site-waffleIcon pull-right">
                <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
            </h1>
        </div>
    </nav>
    <!--breadCrumbs-->
    <ul class="breadcrumbs_fullScreens">
        <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
        <li><a href="@Url.Action("Index", "Home", new {})">Home</a></li>
        <li><a href="@Url.Action("Index", "Administration", new {})">Settings</a></li>
        <li><a href="#">@ViewBag.Title</a></li>
    </ul>
    <!--navCollection-->
    <div class="navCollection_fullScreens">
        @Html.Partial("_navCollection")
    </div>
    <div style="margin-bottom: 2%"></div>

    <div class="col-md-12 row">
        <div class="col-md-6">
            <h4 class="subHeading">
                Management status overview
                <a class="create-new" href="@Url.Action("Create", "ManagementStatus", new { })" style="font-size: 14px">Create new <span><i class="fa fa-plus-circle" style="font-size: 12px"></i></span></a>
            </h4>
        </div>
        <!--------------------------------------------------------------------------- jq-search -------------------------------------------------------------------------->
        <div class="col-md-6">
            <div class="input-wrapper-new-search">
                <input type="text" class="form-control-new-search" id="search" onkeyup="myFunction()" placeholder="Search..." />
            </div>
        </div>
    </div>

    <table class="table riskRatingTable sortable">
        <thead>
            <tr>
                <th style="width: 10%; text-align: center!important">@Html.DisplayNameFor(model => model.createdDate) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                <th style="width: 10%; text-align: center!important">@Html.DisplayNameFor(model => model.statusCode) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                <th style="width: 40%; text-align: left!important">@Html.DisplayNameFor(model => model.statusName) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                <th style="width: 10%; text-align: left!important">@Html.DisplayNameFor(model => model.statusType) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                <th style="width: 10%; text-align: left!important">@Html.DisplayNameFor(model => model.programCode) <i class="fa fa-fw fa-sort sortArrow"></i></th>
                <th style="text-align: center!important; width: 8%">@Html.DisplayNameFor(model => model.active)</th>
                <th style="text-align: center!important; width: 8%">Action</th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tbody id="ms-search">
                <tr>
                    <td data-dateformat="DD-MM-YYYY" class="row-information text-center"><span class="@(item.active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.createdDate)</span></td>
                    <td class="row-information text-center"><span class="@(item.active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.statusCode)</span></td>
                    <td class="row-information"><span class="@(item.active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.statusName)</span></td>
                    <td class="row-information"><span class="@(item.active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.statusType)</span></td>
                    <td class="row-information"><span class="@(item.active == true ? "" : "active-false")">@Html.DisplayFor(modelItem => item.programCode)</span></td>
                    <td class="row-information text-center"><span class="@(item.active == true ? "chk-yes fas fa-circle" : "chk-no fas fa-circle")"></span></td>

                    <td class="statusCode linkNav" style="text-align: center!important">
                        @Html.ActionLink("Edit", "Edit", new { id = item.statusCode }) |
                        @Html.ActionLink("Details", "Details", new { id = item.statusCode })
                    </td>
                </tr>
            </tbody>
        }
    </table>

    <div class="fixedBack">
        <input value="Back" class="btn buttonRound_formBack " onclick="MainbackBtn();" style="width: 15%" />
    </div>

</div>


@section scripts{
    <script src="~/Scripts/layout-buttons-general.js"></script>
    <script>
        // table-search
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#ms-search tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        // back
        function MainbackBtn() {
            window.location.href = '@Url.Action("Index", "Administration")';
        }
    </script>
}
