@model HaloCareCore.Models.Validation.ManagementStatus_DeactivatedReasons
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "msReason_Create";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<comment>
    <!--
    14 May 2019 -- HCare-730 (Account Settings – Management status (Related to HCare-417))
    Added CSS to the views as well as a duplicate check on the management status code and the management status description.

    The index view allows a user to view the active and inactive entries in order to control the statuses from a settings perspective.
    I have added a search bar as well as a sort function that will allow the user to sort the columns.
    The duplication check is applied to the create and the edit view and will not allow a user to enter an entry that has the same Code or the same name.

    30 August 2019 -- HCare-785 (Management status - Add Created and Modified fields to database)
    Added the Created and modified fields to the ManagementStatus table as well as setting the Create and Edit method

    13 September 2019 -- HCare-808 (Settings ~ Management status / Status type must be mandatory)
    Added required attribute to the Status type in Management status Create view. i.e. OPEN, CLOSED OR PENDING is a required field

    -->
</comment>

<style>
    body {
        background-color: #f9f9fc !important;
    }

    .select2-container--default .select2-selection--single {
        width: 480px !important
    }

        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            color: white !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            margin-top: -5px !important;
        }

    .field-validation-error:before {
        font-family: FontAwesome;
        content: "\f06a\00a0";
        animation: pulse 2s ease infinite;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

<div class="fullScreen_container zero-padding">

    <!--pageHeader-->
    <nav id="global-nav" class="nav">
        <div class="pull-left title">
            <h1 class="site-title_patientProfile">
                <span><i class="fas fa-id-card-alt"></i>&emsp; Management status</span>
            </h1>
        </div>
        <div class="pull-right title">
            <h1 class="site-title_userID pull-right">
                <div class="halocareLogo"><img src="~/Content/Images/Navigation/navBarIcons/haloCare_White.png" /></div>
            </h1>
            <h1 class="site-title_userID pull-right">
                @if (HttpContextAccessor.HttpContext.Session.GetString("Init") != null)
                {
                    <span href="#" id="userMenu-toggle"><span class="initials_Avatar" style="color: white!important; font-size: 16px">@HttpContextAccessor.HttpContext.Session.GetString("Init").ToString() </span></span>
                }
            </h1>
            <h1 class="site-waffleIcon pull-right">
                <span href="#" id="patientMenu-toggle"><span class="waffleIcon" style="color: white!important; font-size: 12px"><i class="fas fa-th"></i></span></span>
            </h1>
        </div>
    </nav>

    <!--breadCrumbs-->
    <ul class="breadcrumbs_fullScreens">
        <li style="font-size: 12px; color: #0081b3; font-weight: 200">You are here:</li>
        <li><a href="@Url.Action("Index", "Administration", new {})">Settings</a></li>
        <li><a href="@Url.Action("Index", "ManagementStatus", new {})">Reason</a></li>
        <li><a href="#">Create</a></li>
    </ul>

    <!--navCollection-->
    <div class="navCollection_fullScreens">
        @Html.Partial("_navCollection")
    </div>

    <div style="margin-bottom: 2%"></div>

    <!--Form-->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <h4 class="tableHeading">Create a management status reason</h4>
            <hr class="fancyruler">

            <div class="form-horizontal createForm">
                <br />
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "allergyTextbox", @placeholder = "example: Deactivated", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger", @style = "font-size: 110%;margin-left: 1%" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.reason, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.reason, new { htmlAttributes = new { @class = "allergyTextbox", @placeholder = "Your reason here...", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.reason, "", new { @class = "text-danger", @style = "font-size: 110%;margin-left: 1%" })
                    </div>
                </div>

                <div class="fixedBack" style="margin-left: 42.5%">
                    <input value="Back" class="btn buttonRound_formBack go_back" style="width: 15%!important" />
                    <input type="submit" value="Create" class="btn buttonRound_formCreate" style="width: 15%!important" />
                </div>

            </div>
        </div>
    }

</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

@section scripts{
    <script src="~/bundles/jqueryval"></script>
    <script src="~/Scripts/layout-buttons-general.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    @if (ViewBag.statusCode != null)
    {
        <script type="text/javascript">

        window.onload = function () {
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.options.timeOut = 10000;

            toastr.error("@ViewBag.statusCode");

        }
        </script>
    }

    @if (ViewBag.description != null)
    {
        <script type="text/javascript">

        window.onload = function () {
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.options.timeOut = 10000;

            toastr.error("@ViewBag.description");

        }
        </script>
    }



}
